@charset "utf-8";
/* CSS Document */

a,
.theme_color,
.btn-style-three:hover,
.btn-style-two:hover,
.list-style-one li:before,
.main-menu .cart-box .number,
.main-menu .cart-box a,
.featured-block .inner-box h3 a:hover,
.main-header .outer-box .option-list li a:hover,
.main-header .outer-box .option-list li .icon,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.address-box .inner-box .icon-box,
.info-block .inner-box .icon-box,
.main-header .header-upper .contact-number .icon,
.main-menu .navigation > li > ul > li:hover > a,
.main-menu .navigation > li > ul > li > ul > li:hover > a,
.news-widget-block .widget-inner h3 a:hover,
.info-block .inner-box .find-map:hover,
.services-block-two .inner-box .icon-box,
.services-block-two .inner-box .content-box h3 a:hover,
.news-block .inner-box .lower-content h3 a:hover,
.news-block .inner-box .image .category li a,
.services-block .inner-box .lower-content h3 a:hover,
.services-block .inner-box .lower-content .icon-box,
.welcome-section .content-column .inner-column .percent span,
.main-header.light-version .main-menu .navigation > li:hover > a,
.main-header.light-version .main-menu .navigation > li.current > a,
.window-tab-section .window-tabs .tab-btns .tab-btn:hover,
.window-tab-section .image-column .plus-box .icon:after,
.fluid-section-one .content-column .next-btn:hover,
.fluid-section-one .content-column .prev-btn:hover,
.key-block .inner-box .content h3 a:hover,
.testimonial-block .inner-box .location,
.main-header .info-box .icon-box,
.fact-counter .count-outer,
.category-list-two li a:hover,
.windows-page-section .title-box .text a,
.product-block .inner-box .lower-box .product-price li,
.items-section .sec-title .more-products:hover,
.fact-counter .count-outer .count-text,
.feedback-block .inner-box .content-column .title,
.feedback-block .inner-box .content-column .quote-icon,
.feedback-block .inner-box .content-column .location,
.main-header .outer-box .option-box li.cart .number,
.window-tab-section .window-tabs .tab-btns .tab-btn.active-btn,
.main-slider .owl-nav .owl-prev:hover, .main-slider .owl-nav .owl-next:hover,
.services-section-three .appointment-tabs .tab-btns .p-tab-btn:hover,
.services-section-three .appointment-tabs .tab-btns .p-tab-btn.active-btn,
.services-block-three .inner-box:hover .lower-content .icon-box,
.services-block-three .inner-box:hover .lower-content h2 a,
.services-block-three .inner-box:hover .lower-content .explore,
.feedback-section-two .owl-nav .owl-prev:hover,
.feedback-section-two .owl-nav .owl-next:hover,
.instalation-block .inner-block .icon-box,
.choose-block .inner-block .icon-box,
.categories-two .view-more,
.category-list li a:hover,
.checkout-page .default-links li a,
.cart-table tbody tr .sub-total,
.checkout-page .check-box label,
.comments-area .comment-box .reply-comment,
.product-details .basic-details .expired,
.product-details .basic-details .details-header .rating,
.window-block .inner-block .download:hover,
.window-block .inner-block .window-heading a:hover,
.our-shop .items-sorting .results-column h4,
.cart-table tbody tr .remove-btn:hover,
.popular-tags a:hover,
.checkout-page .payment-options li .radio-option label strong a,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn:hover,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn.active-btn,
.gallery-tab .product-tab-btns .p-tab-btn:hover,
.gallery-tab .product-tab-btns .p-tab-btn.active-btn,
.gallery-block-two .inner-box .lower-content .view-images,
.gallery-block-two .inner-box .lower-content h3 a:hover,
.gallery-page-section .owl-nav .owl-prev:hover,
.gallery-page-section .owl-nav .owl-next:hover,
.team-block .inner-box .lower-content .designation,
.price-page-section .price-list-nav .nav-list li a:hover,
.price-page-section .price-list-nav .nav-list li.active a,
.price-info-tabs .price-tabs .tab-btns .tab-btn.active-btn,
.price-info-tabs .price-tabs .tab-btns .tab-btn:hover,
.accordion-box .block .acc-btn.active .icon-outer .icon-minus,
.testimonial-block-two .inner-box .location,
.sidebar .popular-posts .post a:hover,
.author-box .author-comment .inner .social-icons .fa:hover,
.blog-single .inner-box blockquote .author-name,
.office-block .inner-box .icon-box,
.office-block .inner-box .link-btn,
.window-block-two .inner-box .explore:hover, .window-block-two .inner-box h3 a:hover{
	color:#39CCCC;
}

/*Background Color*/

.address-box,
.btn-style-one:hover,
.btn-style-two,
.header-top,
.btn-style-three,
.buttons-widget .theme-btn,
.main-slider h2:before,
.social-icon-one li a:hover,
.social-icon-two li a:hover,
.list-style-two li:before,
.social-widget ul li a:hover .icon,
.product-block .inner-box .image .options-box li a:hover,
.about-section .image-column .play-box span,
.feedback-section .owl-nav .owl-prev:hover,
.feedback-section .owl-nav .owl-next:hover,
.key-block .inner-box:hover .icon-box,
.repair-block .inner-block:hover .number-box,
.main-header .outer-box .buttons-box .theme-btn,
.main-header .header-top .language .dropdown-menu > li > a:hover,
.services-block .inner-box .lower-content h3:before,
.main-header .header-upper .logo-box:before,
.window-tab-section .image-column .plus-box,
.services-block-two .inner-box:hover .icon-box,
.ui-state-active, .ui-widget-content .ui-state-active,
.header-style-two .main-menu .navigation > li > a:after,
.services-section-three .appointment-tabs .btns-outer .appointment,
.newsletter-form .form-group input[type="submit"], .newsletter-form button,
.services-section-three .owl-nav .owl-prev:hover,
.services-section-three .owl-nav .owl-next:hover,
.services-section-two .owl-dots .owl-dot:before,
.gallery-section-two .owl-nav .owl-prev:hover,
.gallery-section-two .owl-nav .owl-next:hover,
.window-nav-outer .window-nav li a:hover,
.window-nav-outer .window-nav li.active a,
.consulting-form .form-group .submit-btn:hover,
.window-block-two .inner-box .icon-box,
.category-list-two li a:hover::before,
.range-slider-one .theme-btn:hover,
.btn-style-four:hover,
.shipping-form .form-group .total-btn:hover,
.cart-section .coupon-outer .cart-btn:hover,
.cart-section .apply-coupon .form-group .coupon-btn,
.cart-table tbody .available-info .icon,
.range-slider-one .ui-slider .ui-slider-range,
.gallery-block-three .inner-box .overlay-inner .link,
.styled-pagination li a:hover, .styled-pagination li a.active,
.gallery-section-four .filters .filter.active,
.gallery-section-four .filters .filter:hover,
.range-slider-one .ui-state-default,
.team-block .inner-box .lower-content:before,
.team-block .inner-box .image .social-nav li a:hover,
.range-slider-one .ui-widget-content .ui-state-default,
.product-block .inner-box .lower-box .buy-btn-box .buy-btn,
.appointment-block .inner-box .content-box .icon-box,
.sidebar .instagram-widget .image-box .overlay-box,
.archive-form .form-inner .go-btn:hover,
.main-menu .navbar-header .navbar-toggler{
	background-color:#39CCCC;
}

/*Border Color*/

.btn-style-one,
.btn-style-two,
.btn-style-one:hover,
.social-icon-one li a:hover,
.social-icon-two li a:hover,
.social-widget ul li a:hover .icon,
.range-slider-one .theme-btn:hover,
.search-box-two .form-group input:focus,
.product-block .inner-box .image .options-box li a:hover,
.services-section-three .owl-nav .owl-prev:hover,
.services-section-three .owl-nav .owl-next:hover,
.ui-state-active, .ui-widget-content .ui-state-active,
.estimate-section .form-column .inner-column:hover,
.key-block .inner-box:hover .icon-box,
.cart-table tbody tr .remove-btn:hover,
.feedback-section .owl-nav .owl-prev:hover,
.feedback-section .owl-nav .owl-next:hover,
.services-block .inner-box .image-outer:before,
.estimate-form .form-group input:focus,
.estimate-form .form-group select:focus,
.estimate-form .form-group textarea:focus,
.main-footer .footer-bottom .dropdown-menu,
.main-menu .navigation > li > ul,
.btn-style-three,
.sidebar .search-box .form-group input:focus,
.price-info-tabs .price-tabs .tab-btns .tab-btn.active-btn,
.price-info-tabs .price-tabs .tab-btns .tab-btn:hover,
.team-block .inner-box .image .social-nav li a:hover,
.checkout-page .default-links li,
.services-block-two .inner-box:hover .icon-box,
.main-header .header-top .language .dropdown-menu,
.main-menu .navigation > li > ul > li > ul,
.estimate-section .info-column .inner-column:hover,
.main-footer .footer-bottom .search-panel input:focus,
.main-footer .footer-bottom .search-panel select:focus,
.main-header .header-lower .search-box-outer .dropdown-menu,
.main-header .header-lower .search-panel input:focus,
.main-header .header-lower .search-panel select:focus,
.services-section-two .owl-dots .owl-dot,
.services-section-two .owl-dots .owl-dot:before,
.gallery-section-two .owl-nav .owl-prev:hover,
.gallery-section-two .owl-nav .owl-next:hover,
.appointment-form .form-group input:focus,
.appointment-form .form-group select:focus,
.appointment-form .form-group textarea:focus,
.consulting-form .form-group input:focus,
.consulting-form .form-group select:focus,
.consulting-form .form-group textarea:focus,
.range-slider-one .ui-state-default,
.btn-style-four:hover,
.cart-section .apply-coupon .form-group .coupon-btn,
.range-slider-one .ui-widget-content .ui-state-default,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.shipping-form .form-group input:focus,
.shipping-form .form-group textarea:focus,
.checkout-form input:focus,
.checkout-form select:focus,
.checkout-form textarea:focus,
.appointment-form-two .form-group input:focus,
.appointment-form-two .form-group select:focus,
.appointment-form-two .form-group textarea:focus,
.faq-form .form-group input:focus,
.form-control:focus,
.faq-form .form-group select:focus,
.faq-form .form-group textarea:focus,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.contact-form .form-group input:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus,
.main-menu .navbar-header .navbar-toggler{
	border-color:#39CCCC;
}

.repair-block .inner-block:hover .number-box:before{
	border-bottom-color:#39CCCC;
}

.repair-block .inner-block:hover .number-box:after{
	border-top-color:#39CCCC;
}

/*RGBA Color Light*/

.services-block .inner-box .image .overlay-box{
	background-color:rgba(57,204,204,0.70);
}

/*RGBA Color Dark*/

.buttons-widget .theme-btn:nth-child(2),
.main-header .outer-box .buttons-box .theme-btn:nth-child(2){
	background-color:rgba(57,204,204,0.90);
}

@media only screen and (max-width: 767px){
	
	.main-menu .navbar-header .navbar-toggle{
		border-color:#ffffff;
	}
	
	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a,
	.header-style-two.inner-header .main-menu .navigation > li > a{
		background-color:#39CCCC;
	}
	
}