<footer class="main-footer" style="background-image:url(/images/background/2.jpg)">

    <div class="auto-container">

        <!-- Widgets Section -->

        <div class="widgets-section">

            <div class="row clearfix">

                

                <!-- Big Column -->

                <div class="big-column col-lg-6 col-md-12 col-sm-12">

                    <div class="row clearfix">

                        

                        <!--Footer Column-->

                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">

                            <div class="footer-widget logo-widget">

                                <div class="logo">

                                    <a href="index.html"><img src="/images/footer-logo.png" alt="" /></a>

                                </div>

                                <div class="text">Gym Expert is a champ in providing its users with absolutely everything a fitness or gym site needs. consectetur adipiscing elit. Suspendisse interdum nulla eu posuere scelerisque.</div>

                                <div class="social-links">

                                    <span>Follow on Socials </span>

                                    <a href="#" class="fa fa-facebook"></a>

                                    <a href="#" class="fa fa-twitter"></a>

                                    <a href="#" class="fa fa-instagram"></a>

                                    <a href="#" class="fa fa-linkedin"></a>

                                </div>

                            </div>

                        </div>

                        

                        <!-- Footer Column -->

                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">

                            <div class="footer-widget news-widget">

                                <h4>Latest Posts</h4>

                                <!-- Footer Column -->

                                <div class="widget-content">

                                    <div class="post">

                                        <div class="thumb"><a href="blog-single.html"><img src="/images/resource/post-thumb-3.jpg" alt=""></a></div>

                                        <h5><a href="blog-single.html">Your Future is Created by What You Do Today</a></h5>

                                        <span class="date">JUNE 21, 2020</span>

                                    </div>



                                    <div class="post">

                                        <div class="thumb"><a href="blog-single.html"><img src="/images/resource/post-thumb-4.jpg" alt=""></a></div>

                                        <h5><a href="blog-single.html">How to Maximise Time Spent at The GYM.</a></h5>

                                        <span class="date">JUNE 21, 2019</span>

                                    </div>

                                </div>

                            </div>

                        </div>

                        

                    </div>

                </div>

                

                <!-- Big Column -->

                <div class="big-column col-lg-6 col-md-12 col-sm-12">

                    <div class="row clearfix">

                        

                        <!-- Footer Column -->

                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">

                            <div class="footer-widget links-widget">

                                <h4>Our Services</h4>

                                <ul class="list-link">

                                    <li><a href="">Fat Burn</a></li>

                                    <li><a href="">Streching</a></li>

                                    <li><a href="">Weight Loss</a></li>

                                    <li><a href="">Self Defense</a></li>

                                    <li><a href="">Body Building</a></li>

                                    <li><a href="">Psycho Trainning</a></li>

                                    <li><a href="">Strength Trainning</a></li>

                                </ul>

                            </div>

                        </div>

                        

                        <!-- Footer Column -->

                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">

                            <div class="footer-widget timing-widget">

                                <h4>Working Hours</h4>

                                <ul>

                                    <li>Monday – Friday:<span>07:00 – 21:00</span></li>

                                    <li>Saturday:<span>07:00 – 16:00</span></li>

                                    <li>Sunday Closed</li>

                                </ul>

                            </div>

                        </div>

                        

                    </div>

                </div>

                

            </div>

        </div>

    

        <!-- Footer Bottom -->

        <div class="footer-bottom">

            <div class="copyright">Copyright 2020 Theme by expertthemes</div>

        </div>

    

    </div>

</footer>