<footer class="ftco-footer">
    <div class="container-xl">
    <div class="row mb-5 pb-5 justify-content-between">
    <div class="col-md-6 col-lg">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2 logo d-flex">
    <a class="navbar-brand d-flex align-items-center" href="index.html">
    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon flaticon-weight"></span></div>
    <span class="">Dazko <small>Crossfit &amp; Fitness</small></span>
    </a>
    </h2>
    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
    <ul class="ftco-footer-social list-unstyled mt-2">
    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
    </ul>
    </div>
    </div>
    <div class="col-md-6 col-lg-2">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2">Explore</h2>
    <ul class="list-unstyled">
    <li><a href="#"><span class="fa ion-ios-arrow-round-forward me-3"></span>About Us</a></li>
    <li><a href="#"><span class="fa ion-ios-arrow-round-forward me-3"></span>Trainers Team</a></li>
    <li><a href="#"><span class="fa ion-ios-arrow-round-forward me-3"></span>Awesome Classes</a></li>
    <li><a href="#"><span class="fa ion-ios-arrow-round-forward me-3"></span>Pricing Packages</a></li>
    <li><a href="#"><span class="fa ion-ios-arrow-round-forward me-3"></span>Latest News</a></li>
    </ul>
    </div>
    </div>
    <div class="col-md-6 col-lg-2">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2">Our Contacts</h2>
    <div class="block-23 mb-3">
    <ul>
    <li><span class="icon fa fa-map marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
    <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+2 392 3929 210</span></a></li>
    <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text"><span class="__cf_email__" data-cfemail="6d04030b022d1402181f0902000c0403430e0200">[email&#160;protected]</span></span></a></li>
    </ul>
    </div>
    </div>
    </div>
    <div class="col-md-6 col-lg-4">
    <div class="ftco-footer-widget mb-4">
    <div class="row g-sm-2">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <a href="#" class="img gallery" style="background-image:url(/images/xgallery-1.jpg)"></a>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
    <a href="#" class="img gallery" style="background-image:url(/images/xgallery-2.jpg)"></a>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
    <a href="#" class="img gallery" style="background-image:url(/images/xgallery-3.jpg)"></a>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
    <a href="#" class="img gallery" style="background-image:url(/images/xgallery-4.jpg)"></a>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
    <a href="#" class="img gallery" style="background-image:url(/images/xgallery-5.jpg)"></a>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
    <a href="#" class="img gallery" style="background-image:url(/images/xgallery-6.jpg)"></a>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
    <a href="#" class="img gallery" style="background-image:url(/images/xgallery-7.jpg)"></a>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
    <a href="#" class="img gallery" style="background-image:url(/images/xgallery-8.jpg)"></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="container-fluid px-0 py-5 bg-darken">
    <div class="container-xl">
    <div class="row">
    <div class="col-md-12 text-center">
    <p class="mb-0" style="color: rgba(255,255,255,.5); font-size: 13px;">
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" rel="nofollow noopener">Colorlib</a>
    </div>
    </div>
    </div>
    </div>
    </footer>