		<!-- Modal -->
		<div class="modal fade" id="aAddDietMenus">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Diet Menus</h5>
						<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label>Running</label>
								<input type="text" class="form-control" placeholder="Km">
							</div>
							<div class="form-group">
								<label>Cycling</label>
								<input type="text" class="form-control" placeholder="Km">
							</div>
							<div class="form-group">
								<label>Yoga</label>
								<input type="text" class="form-control" placeholder="hr">
							</div>
							<button class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
			