<nav class="navbar navbar-expand-lg  ftco-navbar-light">
    <div class="container-xl">
    <a class="navbar-brand d-flex align-items-center" href="index.html">
    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon flaticon-weight"></span></div>
    <span class="">Dazko <small>Crossfit &amp; Fitness</small></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse border-top-custom" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-lg-5">
    <li class="nav-item"><a class="nav-link" href="/home/">Home</a></li>
    <li class="nav-item"><a class="nav-link active" href="/about/">About</a></li>
    <li class="nav-item"><a class="nav-link" href="/trainers/">Trainers</a></li>
    <li class="nav-item"><a class="nav-link" href="/classes/">Classes</a></li>
    <li class="nav-item"><a class="nav-link" href="/schedules/">Schedules</a></li>
    <li class="nav-item"><a class="nav-link" href="/blog/">News</a></li>
    <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
    </ul>
    <a href="#" class="btn-custom">Become A Member</a>
    </div>
    </div>
    </nav>