<nav class="main-menu navbar-expand-md">

    <div class="navbar-header">

        <!-- Toggle Button -->    	

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

        </button>

    </div>

    

    <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">

        <ul class="navigation clearfix">

            <li class="current dropdown"><a href="/home/">Home</a>

                <ul>
                    {% for links in site.data.menulinks.links2 %}
                    <li><a href="{{ links.url }}">{{ links.title }}</a></li>
                    {% endfor %}
                   
                    <li class="dropdown"><a href="#">Header Styles</a>

                        <ul>

                            <li><a href="/home/">Header Style 01</a></li>

                            <li><a href="/home2/">Header Style 02</a></li>

                            <li><a href="/home3/">Header Style 03</a></li>

                        </ul>

                    </li>

                </ul>

            </li>

            <li class="dropdown"><a href="#">About</a>

                <ul>

                    <li><a href="/about1/">About Us</a></li>

                    <li><a href="/faq/">Faq</a></li>

                    <li><a href="/price/">Price</a></li>

                    <li><a href="/team/">Team</a></li>

                    <li><a href="/time-table/">Time Table</a></li>

                    <li><a href="/testimonial/">Testimonial</a></li>

                    <li><a href="/comming-soon/">Comming Soon</a></li>

                </ul>

            </li>

            <li class="dropdown"><a href="#">Classes</a>

                <ul>

                    <li><a href="/classes1/">Classes</a></li>

                    <li><a href="/classesdetail/">Classes Detail</a></li>

                </ul>

            </li>

            <li class="dropdown"><a href="#">Portfolio</a>

                <ul>

                    <li><a href="/portfolio/">Portfolio</a></li>

                    <li><a href="/portfoliodetail/">Portfolio Detail</a></li>

                </ul>

            </li>

            <li class="dropdown"><a href="#">Shop</a>

                <ul>

                    <li><a href="/shop/">Our Products</a></li>

                    <li><a href="/shopsingle/">Product Single</a></li>

                    <li><a href="/shoppingcart/">Shopping Cart</a></li>

                    <li><a href="/checkout/">Checkout</a></li>

                    <li><a href="/account/">Account</a></li>

                </ul>

            </li>

            <li class="dropdown"><a href="#">Blog</a>

                <ul>

                    <li><a href="/blog1/">Our Blog</a></li>

                    <li><a href="/blogsingle/">Blog Single</a></li>

                    <li><a href="/notfound/">Not Found</a></li>

                </ul>

            </li>

            <li><a href="/contact1/">Contact us</a></li>

        </ul>

    </div>

</nav>