<script src="/global/global.min.js"></script>
<script src="/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/chart.js/Chart.bundle.min.js"></script>
<script src="/js/custom.min.js"></script>
<script src="/js/deznav-init.js"></script>
<script src="/owl-carousel/owl.carousel.js"></script>
    

<!-- Chart piety plugin files -->
<script src="/peity/jquery.peity.min.js"></script>

<!-- Apex Chart -->
<script src="/apexchart/apexchart.js"></script>

<!-- Dashboard 1 -->
<script src="/js/dashboard/dashboard-1.js"></script>