

<script src="/js/jquery.js"></script>

<!--Revolution Slider-->

<script src="/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>

<script src="/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>

<script src="/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>

<script src="/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>

<script src="/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>

<script src="/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>

<script src="/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>

<script src="/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>

<script src="/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>

<script src="/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>

<script src="/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>

<script src="/js/main-slider-script.js"></script>



<script src="/js/popper.min.js"></script>

<script src="/js/bootstrap.min.js"></script>

<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>

<script src="/js/jquery.fancybox.js"></script>

<script src="/js/appear.js"></script>

<script src="/js/parallax.min.js"></script>

<script src="/js/tilt.jquery.min.js"></script>

<script src="/js/jquery.paroller.min.js"></script>

<script src="/js/owl.js"></script>

<script src="/js/wow.js"></script>

<script src="/js/nav-tool.js"></script>

<script src="/js/jquery-ui.js"></script>

<script src="/js/script.js"></script>

<script src="/js/color-settings.js"></script>



<!--Google Map APi Key-->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIJ_QKHN-bi6_1C9f5eYE3pZs1zhQIo5o"></script>

<script src="/js/map-script.js"></script>

<!--End Google Map APi-->

