


<script src="/js/jquery.js"></script>



<script src="/js/popper.min.js"></script>

<script src="/js/bootstrap.min.js"></script>

<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>

<script src="/js/jquery.fancybox.js"></script>

<script src="/js/appear.js"></script>

<script src="/js/parallax.min.js"></script>

<script src="/js/tilt.jquery.min.js"></script>

<script src="/js/jquery.paroller.min.js"></script>

<script src="/js/owl.js"></script>

<script src="/js/wow.js"></script>

<script src="/js/nav-tool.js"></script>

<script src="/js/jquery-ui.js"></script>

<script src="/js/script.js"></script>

<script src="/js/color-settings.js"></script>


