   <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Dashboard</span>
						</a>
                        <ul aria-expanded="false">
							<li><a href="/dashboard/index.html">Dashboard</a></li>
							<li><a href="/dashboard/workout-statistic.html">Workout Statistic</a></li>
							<li><a href="/dashboard/workout-plan.html">Workout Plan</a></li>
                            <li><a href="/dashboard/demo1.html">Workout Plan</a></li>
							<li><a href="/dashboard/distance-map.html">Distance Map</a></li>
							<li><a href="/dashboard/food-menu.html">Diet Food Menu</a></li>
							<li><a href="/dashboard/personal-record.html">Personal Record</a></li>
						</ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-television"></i>
							<span class="nav-text">Apps</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="/dashboard/app-profile.html">Profile</a></li>
                            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Email</a>
                                <ul aria-expanded="false">
                                    <li><a href="/dashboard/email-compose.html">Compose</a></li>
                                    <li><a href="/dashboard/email-inbox.html">Inbox</a></li>
                                    <li><a href="/dashboard/email-read.html">Read</a></li>
                                </ul>
                            </li>
                            <li><a href="/dashboard/app-calender.html">Calendar</a></li>
							<li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Shop</a>
                                <ul aria-expanded="false">
                                    <li><a href="/dashboard/ecom-product-grid.html">Product Grid</a></li>
									<li><a href="/dashboard/ecom-product-list.html">Product List</a></li>
									<li><a href="/dashboard/ecom-product-detail.html">Product Details</a></li>
									<li><a href="/dashboard/ecom-product-order.html">Order</a></li>
									<li><a href="/dashboard/ecom-checkout.html">Checkout</a></li>
									<li><a href="/dashboard/ecom-invoice.html">Invoice</a></li>
									<li><a href="/dashboard/ecom-customers.html">Customers</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-controls-3"></i>
							<span class="nav-text">Charts</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="/dashboard/chart-flot.html">Flot</a></li>
                            <li><a href="/dashboard/chart-morris.html">Morris</a></li>
                            <li><a href="/dashboard/chart-chartjs.html">Chartjs</a></li>
                            <li><a href="/dashboard/chart-chartist.html">Chartist</a></li>
                            <li><a href="/dashboard/chart-sparkline.html">Sparkline</a></li>
                            <li><a href="/dashboard/chart-peity.html">Peity</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-internet"></i>
							<span class="nav-text">Bootstrap</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="/dashboard/ui-accordion.html">Accordion</a></li>
                            <li><a href="/dashboard/ui-alert.html">Alert</a></li>
                            <li><a href="/dashboard/ui-badge.html">Badge</a></li>
                            <li><a href="/dashboard/ui-button.html">Button</a></li>
                            <li><a href="/dashboard/ui-modal.html">Modal</a></li>
                            <li><a href="/dashboard/ui-button-group.html">Button Group</a></li>
                            <li><a href="/dashboard/ui-list-group.html">List Group</a></li>
                            <li><a href="/dashboard/ui-media-object.html">Media Object</a></li>
                            <li><a href="/dashboard/ui-card.html">Cards</a></li>
                            <li><a href="/dashboard/ui-carousel.html">Carousel</a></li>
                            <li><a href="/dashboard/ui-dropdown.html">Dropdown</a></li>
                            <li><a href="/dashboard/ui-popover.html">Popover</a></li>
                            <li><a href="/dashboard/ui-progressbar.html">Progressbar</a></li>
                            <li><a href="/dashboard/ui-tab.html">Tab</a></li>
                            <li><a href="/dashboard/ui-typography.html">Typography</a></li>
                            <li><a href="/dashboard/ui-pagination.html">Pagination</a></li>
                            <li><a href="/dashboard/ui-grid.html">Grid</a></li>

                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-heart"></i>
							<span class="nav-text">Plugins</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="/dashboard/uc-select2.html">Select 2</a></li>
                            <li><a href="/dashboard/uc-nestable.html">Nestedable</a></li>
                            <li><a href="/dashboard/uc-noui-slider.html">Noui Slider</a></li>
                            <li><a href="/dashboard/uc-sweetalert.html">Sweet Alert</a></li>
                            <li><a href="/dashboard/uc-toastr.html">Toastr</a></li>
                            <li><a href="/dashboard/map-jqvmap.html">Jqv Map</a></li>
                        </ul>
                    </li>
                    <li><a href="/dashboardwidget-basic.html" class="ai-icon" aria-expanded="false">
							<i class="flaticon-381-settings-2"></i>
							<span class="nav-text">Widget</span>
						</a>
					</li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-notepad"></i>
							<span class="nav-text">Forms</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="/dashboard/form-element.html">Form Elements</a></li>
                            <li><a href="/dashboard/form-wizard.html">Wizard</a></li>
                            <li><a href="/dashboard/form-editor-summernote.html">Summernote</a></li>
                            <li><a href="/dashboard/form-pickers.html">Pickers</a></li>
                            <li><a href="/dashboard/form-validation-jquery.html">Jquery Validate</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-network"></i>
							<span class="nav-text">Table</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="/dashboard/table-bootstrap-basic.html">Bootstrap</a></li>
                            <li><a href="/dashboard/table-datatable-basic.html">Datatable</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-layer-1"></i>
							<span class="nav-text">Pages</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="/dashboard/page-register.html">Register</a></li>
                            <li><a href="/dashboard/page-login.html">Login</a></li>
                            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                                <ul aria-expanded="false">
                                    <li><a href="/dashboard/page-error-400.html">Error 400</a></li>
                                    <li><a href="/dashboard/page-error-403.html">Error 403</a></li>
                                    <li><a href="/dashboard/page-error-404.html">Error 404</a></li>
                                    <li><a href="/dashboard/page-error-500.html">Error 500</a></li>
                                    <li><a href="/dashboard/page-error-503.html">Error 503</a></li>
                                </ul>
                            </li>
                            <li><a href="/dashboard/page-lock-screen.html">Lock Screen</a></li>
                        </ul>
                    </li>
                </ul>
				<div class="drum-box">
					<img src="/images/card/drump.png" alt="">
					<p class="fs-18 font-w500 mb-4">Start Plan Your Workout</p>
					<a class="" href="javascript:;">Check schedule
					<svg class="ml-3" width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 12L6 6L0 0" fill="#BCD7FF"/>
					</svg>
					</a>
				</div>
				<div class="copyright">
					<p><strong>Fito Fitness Admin Dashboard</strong> ©All Rights Reserved</p>
					<p>by DexignZone</p>
				</div>
			</div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
		