<section class="slider-hero">
    <div class="overlay"></div>
    <div class="hero-slider">
    <div class="item">
    <div class="work">
    <div class="img img2 d-flex align-items-center js-fullheight" style="background-image:url(/images/xbg_3.jpg)">
    <div class="container-xl">
    <div class="row">
    <div class="col-md-12 col-lg-10">
    <div class="row">
    <div class="col-md-8 col-lg-6">
    <div class="text mt-md-5" data-aos="fade-up" data-aos-duration="1000">
    <h2>Shape Your Perfect Body</h2>
    <p class="mb-5">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
    <p><a href="#" class="btn btn-primary px-4 py-3">Take A Tour Now <span class="ion ion-ios-arrow-round-forward"></span></a></p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="item">
    <div class="work">
    <div class="img d-flex align-items-center justify-content-center js-fullheight" style="background-image:url(/images/xbg_2.jpg)">
    <div class="container-xl">
    <div class="row">
    <div class="col-md-12 col-lg-10">
    <div class="row">
    <div class="col-md-8 col-lg-6">
    <div class="text mt-md-5" data-aos="fade-up" data-aos-duration="1000">
    <h2>Increase Your Muscle Power</h2>
    <p class="mb-5">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
    <p><a href="#" class="btn btn-primary px-4 py-3">Take A Tour Now <span class="ion ion-ios-arrow-round-forward"></span></a></p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="item">
    <div class="work">
    <div class="img d-flex align-items-center justify-content-center js-fullheight" style="background-image:url(/images/xbg_1.jpg)">
    <div class="container-xl">
    <div class="row">
    <div class="col-md-10">
    <div class="row">
    <div class="col-md-6 col-xl-6">
    <div class="text mt-md-5" data-aos="fade-up" data-aos-duration="1000">
    <h2>You Only Fail, When You Stop Trying</h2>
    <p class="mb-5">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
    <p><a href="#" class="btn btn-primary px-4 py-3">Take A Tour Now <span class="ion ion-ios-arrow-round-forward"></span></a></p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>