<div class="top-wrap">
    <div class="container-xl">
    <div class="row justify-content-end">
    <div class="col-md topper d-flex align-items-xl-center">
    <div class="text">
    <p class="con"><span>Free Call</span> <span>+1 234 456 78910</span></p>
    </div>
    </div>
    <div class="col-md topper d-flex align-items-xl-center justify-content-end">
    <ul class="ftco-social">
    <li><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
    <li><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
    <li><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>