
<!DOCTYPE html>

<html>

    {% include head2.html %}



<body class="hidden-bar-wrapper">



<div class="page-wrapper">

 	

    <!-- Preloader -->

    <div class="preloader"></div>

 	

 	<!-- Main Header-->

    <header class="main-header header-style-two">

    	

		<!-- Header Top -->

        <div class="header-top">

            <div class="auto-container">

                <div class="clearfix">

				

					<!-- Top Left -->

					<div class="top-left pull-left">

						<!-- Info List -->

                        <ul class="info-list">

							<li><span class="icon fa fa-location-arrow"></span> 27 Division St, New York, USA</li>

							<li><span class="icon fa fa-phone"></span> <a href="tel:+1-044-123-456-789"> +1 (044) 123 456 789</a></li>

							<li><span class="icon fa fa-envelope-o"></span> <a href="mailto:info@example.com"> info@example.com</a></li>

						</ul>

					</div>

					

					<!-- Top Right -->

                    <div class="top-right pull-right">

						

						<!--Language-->

                        <div class="language dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"><span class="flag-icon fa fa-globe"></span>EN &nbsp;<span class="icon fa fa-angle-down"></span></a>

                        	<ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu2">

                                <li><a href="#">English</a></li>

                                <li><a href="#">German</a></li>

                                <li><a href="#">Arabic</a></li>

                                <li><a href="#">Hindi</a></li>

                            </ul>

                        </div>

						

                    </div>

					

                </div>

            </div>

        </div>

		

		<!-- Header Upper -->

        <div class="header-upper">

        	<div class="auto-container clearfix">

            	

				<div class="pull-left logo-box">

					<div class="logo"><a href="index.html"><img src="/images/logo.png" alt="" title=""></a></div>

				</div>

				

				<div class="nav-outer clearfix">

					<!--Mobile Navigation Toggler-->

					<div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>

					<!-- Main Menu -->

                    {% include nav3.html %}

					

				</div>

				

            </div>

        </div>

        <!--End Header Upper-->

        

		<!-- Sticky Header  -->

        <div class="sticky-header">

            <div class="auto-container clearfix">

                <!--Logo-->

                <div class="logo pull-left">

                    <a href="index.html" title=""><img src="/images/logo-small.png" alt="" title=""></a>

                </div>

                <!--Right Col-->

                <div class="pull-right">

                    <!-- Main Menu -->

                    <nav class="main-menu">

                        <!--Keep This Empty / Menu will come through Javascript-->

                    </nav><!-- Main Menu End-->

					

                </div>

            </div>

        </div><!-- End Sticky Menu -->

    

		<!-- Mobile Menu  -->

        <div class="mobile-menu">

            <div class="menu-backdrop"></div>

            <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

            

            <nav class="menu-box">

                <div class="nav-logo"><a href="index.html"><img src="/images/logo-2.png" alt="" title=""></a></div>

                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>

            </nav>

        </div>

		<!-- End Mobile Menu -->

	

    </header>

    <!-- End Main Header -->

	

	<!--Page Title-->

    <section class="page-title" style="background-image:url(/images/background/11.jpg)">

    	<div class="auto-container">

			<div class="clearfix">

				<div class="pull-left">

					<h2>About Us</h2>

					<div class="text">Fitness is not a destination it is a way of life.</div>

				</div>

				<div class="pull-right">

					<ul class="page-breadcrumb">

						<li><a href="index.html">home</a></li>

						<li>About us</li>

					</ul>

				</div>

			</div>

        </div>

    </section>

    <!--End Page Title-->

	

	<!-- About Section -->

	<section class="about-section style-two">

		<div class="auto-container">

			<div class="row clearfix">

				

				<!-- Content Column -->

				<div class="content-column col-lg-6 col-md-12 col-sm-12">

					<div class="inner-column">

						<!-- Sec Title -->

						<div class="sec-title">

							<div class="title">Fitness All About</div>

							<h2>What is Functional</h2>

						</div>

						<div class="red-text">Kick your feet up! With a gym designed around you, <br> we think you’ll love it here.</div>

						<div class="text">Our state of the art gyms provide you with a great place to work out in, whether you are there to burn off some calories or are training for something more specific. Why not visit your nearest Gym Center and take a look? We’re here to help you!</div>

						<!-- Featured Block -->

						<div class="featured-block">

							<div class="block-inner">

								<span class="icon flaticon-people"></span>

								<strong>Free Fitness Training</strong>

								<div class="feature-text">Train with the best experts in bodybuilding field.</div>

							</div>

						</div>

						

						<!-- Featured Block -->

						<div class="featured-block">

							<div class="block-inner">

								<span class="icon flaticon-stationary-bike"></span>

								<strong>Cardio and Strength</strong>

								<div class="feature-text">Our personal trainers will help you find a perfect workout.</div>

							</div>

						</div>

						

					</div>

				</div>

				

				<!-- Image Column -->

				<div class="image-column col-lg-6 col-md-12 col-sm-12">

					<div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">

						<div class="award"><img src="/images/resource/award.png" alt="" /></div>

						<div class="image">

							<img src="/images/resource/about-1.png" alt="" />

						</div>

					</div>

				</div>

				

			</div>

		</div>

	</section>

	<!-- End About Section -->

	

	<!-- Services Section Two -->

	<section class="services-section-two">

		<div class="image-layer" style="background-image:url(/images/background/8.jpg)"></div>

		<div class="auto-container">

			

			<div class="row clearfix">

				

				<!-- Service Block -->

				<div class="service-block-two col-lg-4 col-md-6 col-sm-12">

					<div class="inner-box">

						<div class="icon-box">

							<span class="icon flaticon-barbell"></span>

						</div>

						<span class="number">01</span>

						<div class="title">Friendly Atmosphere</div>

						<h4><a href="classes-detail.html">CARDIO PROGRAM</a></h4>

						<div class="text">Make the muscles of your body larger and fit stronger through tension and exercises such as lifting weights.</div>

					</div>

				</div>

				

				<!-- Service Block -->

				<div class="service-block-two col-lg-4 col-md-6 col-sm-12">

					<div class="inner-box">

						<div class="icon-box">

							<span class="icon flaticon-barbell"></span>

						</div>

						<span class="number">02</span>

						<div class="title">Friendly Atmosphere</div>

						<h4><a href="classes-detail.html">PURE STRENGTH</a></h4>

						<div class="text">Make the muscles of your body larger and fit stronger through tension and exercises such as lifting weights.</div>

					</div>

				</div>

				

				<!-- Service Block -->

				<div class="service-block-two col-lg-4 col-md-6 col-sm-12">

					<div class="inner-box">

						<div class="icon-box">

							<span class="icon flaticon-barbell"></span>

						</div>

						<span class="number">03</span>

						<div class="title">Friendly Atmosphere</div>

						<h4><a href="classes-detail.html">POWER YOGA</a></h4>

						<div class="text">Make the muscles of your body larger and fit stronger through tension and exercises such as lifting weights.</div>

					</div>

				</div>

				

			</div>

			

		</div>

	</section>

	<!-- End Services Section Two -->

	

	<!-- Newsletter Section -->

	<section class="newsletter-section">

		<div class="auto-container">

			<div class="inner-container">

				<div class="pattern-layer" style="background-image:url(/images/background/7.jpg)"></div>

				<div class="section-image" style="background-image:url(/images/resource/newslatter.png)"></div>

				<div class="clearfix">

					

					<!-- Map Column -->

					<div class="map-column col-lg-6 col-md-12 col-sm-12">

						<div class="inner-column">

							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25216.765666144616!2d144.9456413371385!3d-37.8112271492458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642b8c21cb29b%3A0x1c045678462e3510!2sMelbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2s!4v1598513355690!5m2!1sen!2s" height="250" ></iframe>

							<a class="direction" href="contact.html">Get Direction <span class="fa fa-angle-double-right"></span></a>

							<h3>27 Division St, New York, USA</h3>

						</div>

					</div>

					

					<!-- Form Column -->

					<div class="form-column col-lg-6 col-md-12 col-sm-12">

						<div class="inner-column">

							<span class="circle-one"></span>

							<span class="circle-two"></span>

							<h4>Email Newsletter</h4>

							<div class="newsletter-form">

								<form method="post" action="contact.html">

									<div class="form-group">

										<input type="email" name="email" value="" placeholder="Your email address....." required="">

										<button type="submit" class="theme-btn submit-btn"><span class="txt">Subscribe</span></button>

									</div>

								</form>

							</div>

							<div class="text">Register now and get the latest news & updates</div>

						</div>

					</div>

					

				</div>

			</div>

		</div>

	</section>

	<!-- End Subscribe Section -->

	

	<!-- Benefits Section -->

	<section class="benefits-section">

		<div class="side-image" style="background-image:url(/images/resource/benefit-5.png)"></div>

		<div class="auto-container">

			<div class="row clearfix">

				

				<!-- Content Column -->

				<div class="content-column col-lg-6 col-md-12 col-sm-12">

					<div class="inner-column">

						<!-- Sec Title -->

						<div class="sec-title">

							<div class="title">OUR BENEFITS</div>

							<h2>EVERYTHING IS <br> POSSIBLE WITH US</h2>

						</div>

						

						<!-- Benefit Block -->

						<div class="benefit-block">

							<div class="block-inner">

								<span class="icon flaticon-dumbbell"></span>

								<strong>40 Courses a Week</strong>

								<div class="feature-text">Everyday our entire team works to deliver you our skills, knowledge and passion</div>

							</div>

						</div>

						

						<!-- Benefit Block -->

						<div class="benefit-block">

							<div class="block-inner">

								<span class="icon flaticon-fitness-2"></span>

								<strong>35+ Professional Trainers</strong>

								<div class="feature-text">Everyday our entire team works to deliver you our skills, knowledge and passion</div>

							</div>

						</div>

						

						<!-- Benefit Block -->

						<div class="benefit-block">

							<div class="block-inner">

								<span class="icon flaticon-man"></span>

								<strong>Effective Group Training</strong>

								<div class="feature-text">Everyday our entire team works to deliver you our skills, knowledge and passion</div>

							</div>

						</div>

						

					</div>

				</div>

				

				<!-- Images Column -->

				<div class="images-column col-lg-6 col-md-12 col-sm-12">

					<div class="pattern-layer" style="background-image:url(/images/background/pattern-5.png)"></div>

					<div class="pattern-layer-two" style="background-image:url(/images/background/pattern-6.png)"></div>

					<div class="inner-column">

						<div class="image">

							<img src="/images/resource/benefit-1.jpg" alt="" />

						</div>

						<div class="image-one">

							<img src="/images/resource/benefit-2.jpg" alt="" />

						</div>

						<div class="image-two">

							<img src="/images/resource/benefit-3.jpg" alt="" />

						</div>

						<div class="image-three">

							<img src="/images/resource/benefit-4.jpg" alt="" />

						</div>

					</div>

				</div>

				

			</div>

		</div>

	</section>

	<!-- End Benefits Section -->

	

	<!-- Fluid Section -->

	<section class="fluid-section-one">

		<div class="left-side-text">BENEFITS</div>

		<div class="right-side-text">SKILLS</div>

		<div class="bottom-big-text">Facts</div>

		<div class="outer-container">

			<div class="clearfix">

				

				<!-- Left Column -->

				<div class="left-column">

					<div class="pattern-image" style="background-image:url(/images/background/pattern-7.png)"></div>

					<div class="inner-column">

						<div class="row clearfix">

							

							<!-- Service Block Three -->

							<div class="service-block-three col-lg-6 col-md-6 col-sm-12">

								<div class="inner-box">

									<div class="icon-box">

										<span class="icon flaticon-tools-and-utensils"></span>

									</div>

									<h4><a href="classes-detail.html">Progression</a></h4>

								</div>

							</div>

							

							<!-- Service Block Three -->

							<div class="service-block-three col-lg-6 col-md-6 col-sm-12">

								<div class="inner-box">

									<div class="icon-box">

										<span class="icon flaticon-plan"></span>

									</div>

									<h4><a href="classes-detail.html">Nutrition</a></h4>

								</div>

							</div>

							

							<!-- Service Block Three -->

							<div class="service-block-three col-lg-6 col-md-6 col-sm-12">

								<div class="inner-box">

									<div class="icon-box">

										<span class="icon flaticon-exercise"></span>

									</div>

									<h4><a href="classes-detail.html">Confience</a></h4>

								</div>

							</div>

							

							<!-- Service Block Three -->

							<div class="service-block-three col-lg-6 col-md-6 col-sm-12">

								<div class="inner-box">

									<div class="icon-box">

										<span class="icon flaticon-sports"></span>

									</div>

									<h4><a href="classes-detail.html">Workout</a></h4>

								</div>

							</div>

							

						</div>

					</div>

				</div>

				

				<!-- Right Column -->

				<div class="right-column">

					<div class="inner-column">

						<div class="image-layer" style="background-image:url(/images/background/9.jpg)"></div>

						<!-- Sec Title -->

						<div class="sec-title light">

							<div class="title">Let See Now</div>

							<h2>CHECK OUR SKILLS</h2>

						</div>

						<div class="text">We’ve spent over 10 years defining fitness and now we hare reinventing it. we’ve evolved so that you can transform your life.</div>

						

						<!-- Skills -->

						<div class="skills">



							<!-- Skill Item -->

							<div class="skill-item">

								<div class="skill-header clearfix">

									<div class="skill-title">Professionalism</div>

									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="85">0</span>%</div></div>

								</div>

								<div class="skill-bar">

									<div class="bar-inner"><div class="bar progress-line" data-width="85"></div></div>

								</div>

							</div>



							<!-- Skill Item -->

							<div class="skill-item">

								<div class="skill-header clearfix">

									<div class="skill-title">Dedication</div>

									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="65">0</span>%</div></div>

								</div>

								<div class="skill-bar">

									<div class="bar-inner"><div class="bar progress-line" data-width="65"></div></div>

								</div>

							</div>



							<!-- Skill Item -->

							<div class="skill-item">

								<div class="skill-header clearfix">

									<div class="skill-title">Challenging</div>

									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="50">0</span>%</div></div>

								</div>

								<div class="skill-bar">

									<div class="bar-inner"><div class="bar progress-line" data-width="50"></div></div>

								</div>

							</div>

							

							<!-- Skill Item -->

							<div class="skill-item">

								<div class="skill-header clearfix">

									<div class="skill-title">Perseverance</div>

									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="75">0</span>%</div></div>

								</div>

								<div class="skill-bar">

									<div class="bar-inner"><div class="bar progress-line" data-width="75"></div></div>

								</div>

							</div>



						</div>

						

					</div>

				</div>

				

			</div>

		</div>

	</section>

	<!-- End Fluid Section -->

	

	<!-- Counter Section Two -->

	<section class="counter-section-two">

		<div class="color-layer"></div>

		<div class="auto-container">

			<!-- Fact Counter -->

			<div class="fact-counter-two">

				<div class="row clearfix">



					<!-- Column -->

					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">

						<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">

							<div class="content">

								<div class="icon flaticon-muscle"></div>

								<div class="count-outer count-box">

									<span class="count-text" data-speed="3500" data-stop="120">0</span>

								</div>

								<div class="counter-title">Expert Trainer</div>

							</div>

						</div>

					</div>



					<!--Column-->

					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">

						<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">

							<div class="content">

								<div class="icon flaticon-fitness"></div>

								<div class="count-outer count-box alternate">

									<span class="count-text" data-speed="2500" data-stop="550">0</span>

								</div>

								<div class="counter-title">Happy Clint</div>

							</div>

						</div>

					</div>



					<!--Column-->

					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">

						<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">

							<div class="content">

								<div class="icon flaticon-building"></div>

								<div class="count-outer count-box">

									<span class="count-text" data-speed="3000" data-stop="150">0</span>

								</div>

								<div class="counter-title">Total Branch</div>

							</div>

						</div>

					</div>

					

					<!--Column-->

					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">

						<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">

							<div class="content">

								<div class="icon flaticon-fitness-1"></div>

								<div class="count-outer count-box">

									<span class="count-text" data-speed="2000" data-stop="25">0</span>

								</div>

								<div class="counter-title">Experience</div>

							</div>

						</div>

					</div>

				

				</div>

				

			</div>

			

		</div>

	</section>

	<!-- End Counter Section -->

	

	<!-- Choose Section -->

	<section class="choose-section">

		<div class="auto-container">

			<div class="row clearfix">

				

				<!-- Images Column -->

				<div class="images-column col-lg-6 col-md-12 col-sm-12">

					<div class="inner-column">

						<div class="info-box">

							<h3><a href="#">Cardio <br> Training</a></h3>

							<a class="more" href="#">More <span class="arrow fa fa-arrow-circle-right"></span></a>

							<div class="icon flaticon-stationary-bike"></div>

						</div>

						

						<div class="info-box style-two">

							<h3><a href="#">Fitness <br> Training</a></h3>

							<a class="more" href="#">More <span class="arrow fa fa-arrow-circle-right"></span></a>

							<div class="icon flaticon-people"></div>

						</div>

						

						<div class="image">

							<img src="/images/resource/choose-1.jpg" alt="" />

						</div>

						<div class="image-1">

							<img src="/images/resource/choose-2.jpg" alt="" />

						</div>

					</div>

				</div>

				

				<!-- Content Column -->

				<div class="content-column col-lg-6 col-md-12 col-sm-12">

					<div class="inner-column">

						<!-- Sec Title -->

						<div class="sec-title">

							<div class="title">Why Choose Us</div>

							<h2>We Raise Your <br> Confidence</h2>

						</div>

						

						<!-- Featured Block -->

						<div class="featured-block">

							<div class="block-inner">

								<span class="icon flaticon-people"></span>

								<strong>Free Fitness Training</strong>

								<div class="feature-text">Train with the best experts in bodybuilding field.</div>

							</div>

						</div>

						

						<!-- Featured Block -->

						<div class="featured-block">

							<div class="block-inner">

								<span class="icon flaticon-stationary-bike"></span>

								<strong>Cardio and Strength</strong>

								<div class="feature-text">Our personal trainers will help you find a perfect workout.</div>

							</div>

						</div>

						

						<!-- Featured Block -->

						<div class="featured-block">

							<div class="block-inner">

								<span class="icon flaticon-premium"></span>

								<strong>No Commitment Memberships</strong>

								<div class="feature-text">Our personal trainers will help you find a perfect workout.</div>

							</div>

						</div>

						

					</div>

				</div>

				

			</div>

		</div>

	</section>

	<!-- End Choose Section -->

	

	<!-- Clients Section -->

    <section class="clients-section style-two">

        <div class="auto-container">

            

            <div class="sponsors-outer">

                <!--Sponsors Carousel-->

                <ul class="sponsors-carousel owl-carousel owl-theme">

                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/images/clients/1.png" alt=""></a></figure></li>

                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/images/clients/2.png" alt=""></a></figure></li>

                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/images/clients/3.png" alt=""></a></figure></li>

                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/images/clients/4.png" alt=""></a></figure></li>

                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/images/clients/5.png" alt=""></a></figure></li>

					<li class="slide-item"><figure class="image-box"><a href="#"><img src="/images/clients/1.png" alt=""></a></figure></li>

					<li class="slide-item"><figure class="image-box"><a href="#"><img src="/images/clients/2.png" alt=""></a></figure></li>

					<li class="slide-item"><figure class="image-box"><a href="#"><img src="/images/clients/3.png" alt=""></a></figure></li>

                </ul>

            </div>

            

        </div>

    </section>

    <!-- End Clients Section -->

	

	<!-- Main Footer -->

    <footer class="main-footer" style="background-image:url(/images/background/2.jpg)">

		<div class="auto-container">

        	<!-- Widgets Section -->

            <div class="widgets-section">

            	<div class="row clearfix">

                	

                    <!-- Big Column -->

                    <div class="big-column col-lg-6 col-md-12 col-sm-12">

                        <div class="row clearfix">

							

							<!--Footer Column-->

                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">

                                <div class="footer-widget logo-widget">

									<div class="logo">

                                    	<a href="index.html"><img src="/images/footer-logo.png" alt="" /></a>

                                    </div>

									<div class="text">Gym Expert is a champ in providing its users with absolutely everything a fitness or gym site needs. consectetur adipiscing elit. Suspendisse interdum nulla eu posuere scelerisque.</div>

									<div class="social-links">

										<span>Follow on Socials </span>

										<a href="#" class="fa fa-facebook"></a>

										<a href="#" class="fa fa-twitter"></a>

										<a href="#" class="fa fa-instagram"></a>

										<a href="#" class="fa fa-linkedin"></a>

									</div>

								</div>

							</div>

							

							<!-- Footer Column -->

							<div class="footer-column col-lg-6 col-md-6 col-sm-12">

								<div class="footer-widget news-widget">

									<h4>Latest Posts</h4>

									<!-- Footer Column -->

									<div class="widget-content">

										<div class="post">

											<div class="thumb"><a href="blog-single.html"><img src="/images/resource/post-thumb-3.jpg" alt=""></a></div>

											<h5><a href="blog-single.html">Your Future is Created by What You Do Today</a></h5>

											<span class="date">JUNE 21, 2020</span>

										</div>



										<div class="post">

											<div class="thumb"><a href="blog-single.html"><img src="/images/resource/post-thumb-4.jpg" alt=""></a></div>

											<h5><a href="blog-single.html">How to Maximise Time Spent at The GYM.</a></h5>

											<span class="date">JUNE 21, 2019</span>

										</div>

									</div>

								</div>

							</div>

							

						</div>

					</div>

					

					<!-- Big Column -->

                    <div class="big-column col-lg-6 col-md-12 col-sm-12">

                        <div class="row clearfix">

							

							<!-- Footer Column -->

                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">

                                <div class="footer-widget links-widget">

									<h4>Our Services</h4>

									<ul class="list-link">

										<li><a href="">Fat Burn</a></li>

										<li><a href="">Streching</a></li>

										<li><a href="">Weight Loss</a></li>

										<li><a href="">Self Defense</a></li>

										<li><a href="">Body Building</a></li>

										<li><a href="">Psycho Trainning</a></li>

										<li><a href="">Strength Trainning</a></li>

									</ul>

								</div>

							</div>

							

							<!-- Footer Column -->

                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">

                                <div class="footer-widget timing-widget">

									<h4>Working Hours</h4>

									<ul>

										<li>Monday – Friday:<span>07:00 – 21:00</span></li>

										<li>Saturday:<span>07:00 – 16:00</span></li>

										<li>Sunday Closed</li>

									</ul>

								</div>

							</div>

							

						</div>

					</div>

					

				</div>

			</div>

		

			<!-- Footer Bottom -->

			<div class="footer-bottom">

				<div class="copyright">Copyright 2020 Theme by expertthemes</div>

			</div>

		

		</div>

	</footer>

	

	<!-- Sidebar Cart Item -->

	<div class="xs-sidebar-group info-group">

		<div class="xs-overlay xs-bg-black"></div>

		<div class="xs-sidebar-widget">

			<div class="sidebar-widget-container">

				<div class="widget-heading">

					<a href="#" class="close-side-widget">

						X

					</a>

				</div>

				<div class="sidebar-textwidget">

					

					<!-- Sidebar Info Content -->

					<div class="sidebar-info-contents">

						<div class="content-inner">

							<div class="logo">

								<a href="index.html"><img src="/images/logo.png" alt="" /></a>

							</div>

							<div class="content-box">

								<h2>About Us</h2>

								<p class="text">The argument in favor of using filler text goes something like this: If you use real content in the Consulting Process, anytime you reach a review point you’ll end up reviewing and negotiating the content itself and not the design.</p>

								<a href="#" class="theme-btn btn-style-two"><span class="txt">Consultation</span></a>

							</div>

							<div class="contact-info">

								<h2>Contact Info</h2>

								<ul class="list-style-one">

									<li><span class="icon fa fa-location-arrow"></span>Chicago 12, Melborne City, USA</li>

									<li><span class="icon fa fa-phone"></span>(111) 111-111-1111</li>

									<li><span class="icon fa fa-envelope"></span>Gym@gmail.com</li>

									<li><span class="icon fa fa-clock-o"></span>Week Days: 09.00 to 18.00 Sunday: Closed</li>

								</ul>

							</div>

							<!-- Social Box -->

							<ul class="social-box">

								<li class="facebook"><a href="#" class="fa fa-facebook-f"></a></li>

								<li class="twitter"><a href="#" class="fa fa-twitter"></a></li>

								<li class="linkedin"><a href="#" class="fa fa-linkedin"></a></li>

								<li class="instagram"><a href="#" class="fa fa-instagram"></a></li>

								<li class="youtube"><a href="#" class="fa fa-youtube"></a></li>

							</ul>

						</div>

					</div>

					

				</div>

			</div>

		</div>

	</div>

	<!-- END sidebar widget item -->

	

</div>

<!--End pagewrapper-->






<!-- Search Popup -->

<div class="search-popup">

	<button class="close-search style-two"><span class="flaticon-multiply"></span></button>

	<button class="close-search"><span class="flaticon-up-arrow-1"></span></button>

	<form method="post" action="blog.html">

		<div class="form-group">

			<input type="search" name="search-field" value="" placeholder="Search Here" required="">

			<button type="submit"><i class="fa fa-search"></i></button>

		</div>

	</form>

</div>

<!-- End Header Search -->



<!--Scroll to top-->

<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

{% include scripts2.html %}

</body>

</html>