
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>
  {% include topwrap.html %}
  {% include navigation.html %}
<section class="hero-wrap hero-wrap-2" style="background-image:url(images/xbg_1.jpg.pagespeed.ic.nbLQLxtGBs.webp)">
<div class="overlay"></div>
<div class="container">
<div class="row no-gutters slider-text align-items-end justify-content-center">
<div class="col-md-9 mb-5 text-center">
<p class="breadcrumbs"><span class="me-2"><a href="index.html">Home <i class="fa ion-ios-arrow-round-forward"></i></a></span> <span>News <i class="fa ion-ios-arrow-round-forward"></i></span></p>
<h1 class="mb-0 bread">News</h1>
</div>
</div>
</div>
</section>
<section class="ftco-section">
<div class="container-xl">
<div class="row g-md-0">
<div class="col-md-6 col-lg-3 d-flex">
<div class="blog-entry justify-content-end" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
<a href="blog-single.html" class="block-20 img d-flex align-items-end" style="background-image:url(images/ximage_1.jpg.pagespeed.ic.xEvWUhBWVe.webp)">
</a>
<div class="text">
<p class="meta"><span>Dec. 20, 2020</span><a href="#">3 Comments</a></p>
<h3 class="heading mb-3"><a href="#">Really Good Workout, Can Feel it Working</a></h3>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 d-flex">
<div class="blog-entry justify-content-end d-md-flex flex-md-column-reverse" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
<a href="blog-single.html" class="block-20 img d-flex align-items-end" style="background-image:url(images/ximage_2.jpg.pagespeed.ic.gJCfxgGcWH.webp)">
</a>
<div class="text">
<p class="meta"><span>Dec. 20, 2020</span><a href="#">3 Comments</a></p>
<h3 class="heading mb-3"><a href="#">Really Good Workout, Can Feel it Working</a></h3>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 d-flex">
<div class="blog-entry justify-content-end" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
<a href="blog-single.html" class="block-20 img d-flex align-items-end" style="background-image:url(images/ximage_3.jpg.pagespeed.ic.ybN-sInD-O.webp)">
</a>
<div class="text">
<p class="meta"><span>Dec. 20, 2020</span><a href="#">3 Comments</a></p>
<h3 class="heading mb-3"><a href="#">Really Good Workout, Can Feel it Working</a mb-3></h3>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 d-flex">
<div class="blog-entry justify-content-end d-md-flex flex-md-column-reverse" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
<a href="blog-single.html" class="block-20 img d-flex align-items-end" style="background-image:url(images/ximage_4.jpg.pagespeed.ic.OmgeD12CrM.webp)">
</a>
<div class="text">
<p class="meta"><span>Dec. 20, 2020</span><a href="#">3 Comments</a></p>
<h3 class="heading mb-3"><a href="#">Really Good Workout, Can Feel it Working</a mb-3></h3>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 d-flex">
<div class="blog-entry justify-content-end" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
<a href="blog-single.html" class="block-20 img d-flex align-items-end" style="background-image:url(images/ximage_5.jpg.pagespeed.ic.u1jHGGrp4J.webp)">
</a>
<div class="text">
<p class="meta"><span>Dec. 20, 2020</span><a href="#">3 Comments</a></p>
<h3 class="heading mb-3"><a href="#">Really Good Workout, Can Feel it Working</a></h3>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 d-flex">
<div class="blog-entry justify-content-end d-md-flex flex-md-column-reverse" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
<a href="blog-single.html" class="block-20 img d-flex align-items-end" style="background-image:url(images/ximage_6.jpg.pagespeed.ic.apT9AMctiY.webp)">
</a>
<div class="text">
<p class="meta"><span>Dec. 20, 2020</span><a href="#">3 Comments</a></p>
<h3 class="heading mb-3"><a href="#">Really Good Workout, Can Feel it Working</a></h3>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 d-flex">
<div class="blog-entry justify-content-end" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
<a href="blog-single.html" class="block-20 img d-flex align-items-end" style="background-image:url(images/ximage_7.jpg.pagespeed.ic.NN4zWHUzZo.webp)">
</a>
<div class="text">
<p class="meta"><span>Dec. 20, 2020</span><a href="#">3 Comments</a></p>
<h3 class="heading mb-3"><a href="#">Really Good Workout, Can Feel it Working</a mb-3></h3>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 d-flex">
<div class="blog-entry justify-content-end d-md-flex flex-md-column-reverse" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
<a href="blog-single.html" class="block-20 img d-flex align-items-end" style="background-image:url(images/ximage_8.jpg.pagespeed.ic.0YJ_LK9Bij.webp)">
</a>
<div class="text">
<p class="meta"><span>Dec. 20, 2020</span><a href="#">3 Comments</a></p>
<h3 class="heading mb-3"><a href="#">Really Good Workout, Can Feel it Working</a mb-3></h3>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
</div>
</div>
</div>
</div>
<div class="row mt-5">
<div class="col text-center">
<div class="block-27">
<ul>
<li><a href="#">&lt;</a></li>
<li class="active"><span>1</span></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<li><a href="#">&gt;</a></li>
</ul>
</div>
</div>
</div>
</div>
</section>

{% include footer2.html %}
{% include scripts.html %}

</body>
</html>