
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include topwrap.html %}
{% include navigation.html %}
<section class="hero-wrap hero-wrap-2" style="background-image:url(images/xbg_1.jpg.pagespeed.ic.nbLQLxtGBs.webp)">
<div class="overlay"></div>
<div class="container">
<div class="row no-gutters slider-text align-items-end justify-content-center">
<div class="col-md-9 mb-5 text-center">
<p class="breadcrumbs"><span class="me-2"><a href="index.html">Home <i class="fa ion-ios-arrow-round-forward"></i></a></span> <span>Classes <i class="fa ion-ios-arrow-round-forward"></i></span></p>
<h1 class="mb-0 bread">Our Fitness Classes</h1>
</div>
</div>
</div>
</section>
<section class="ftco-section">
<div class="container-fluid">
<div class="row g-lg-4">
<div class="col-md-4" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="100">
<div class="classes-wrap img d-flex align-items-end" style="background-image:url(images/xclasses-1.jpg.pagespeed.ic.wovYwowtDK.webp)">
<div class="text">
<span class="price">$100</span>
<h2><a href="#">Body Building</a></h2>
</div>
</div>
</div>
<div class="col-md-4" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200">
<div class="classes-wrap img d-flex align-items-end" style="background-image:url(images/xclasses-2.jpg.pagespeed.ic.CfPYkBOfQP.webp)">
<div class="text">
<span class="price">$100</span>
<h2><a href="#">Weight Lifting</a></h2>
</div>
</div>
</div>
<div class="col-md-4" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="300">
<div class="classes-wrap img d-flex align-items-end" style="background-image:url(images/xclasses-3.jpg.pagespeed.ic.nppwtOK-B3.webp)">
<div class="text">
<span class="price">$100</span>
<h2><a href="#">Cardio</a></h2>
</div>
</div>
</div>
<div class="col-md-4" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="400">
<div class="classes-wrap img d-flex align-items-end" style="background-image:url(images/xclasses-4.jpg.pagespeed.ic.NXA5_VL9Tf.webp)">
<div class="text">
<span class="price">$100</span>
<h2><a href="#">Martial Arts</a></h2>
</div>
</div>
</div>
<div class="col-md-4" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="500">
<div class="classes-wrap img d-flex align-items-end" style="background-image:url(images/xclasses-5.jpg.pagespeed.ic.7WKzwEvYs_.webp)">
<div class="text">
<span class="price">$100</span>
<h2><a href="#">Yoga</a></h2>
</div>
</div>
</div>
<div class="col-md-4" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="600">
<div class="classes-wrap img d-flex align-items-end" style="background-image:url(images/xclasses-6.jpg.pagespeed.ic.ak_VhdfeTy.webp)">
<div class="text">
<span class="price">$100</span>
<h2><a href="#">Cycling</a></h2>
</div>
</div>
</div>
</div>
<div class="row mt-5">
<div class="col text-center">
<div class="block-27">
<ul>
<li><a href="#">&lt;</a></li>
<li class="active"><span>1</span></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<li><a href="#">&gt;</a></li>
</ul>
</div>
</div>
</div>
</div>
</section>
{% include footer2.html %}
{% include scripts.html %}
</body>
</html>