
<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8">

<title>Gym HTML-5 Template | Comming Soon</title>

<!-- Stylesheets -->

<link href="/css/bootstrap.css" rel="stylesheet">

<link href="/css/style.css" rel="stylesheet">

<link href="/css/responsive.css" rel="stylesheet">



<!-- Color Switcher Mockup -->

<link href="/css/color-switcher-design.css" rel="stylesheet">



<!-- Color Themes -->

<link id="theme-color-file" href="/css/color-themes/default-theme.css" rel="stylesheet">



<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

<link rel="icon" href="/images/favicon.png" type="image/x-icon">



<!-- Responsive -->

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">



<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->

<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

<style id="clock-animations"></style>

</head>



<body class="hidden-bar-wrapper">



<div class="page-wrapper">

 	

    <!-- Preloader -->

    <div class="preloader"></div>

 	

	<!-- Coming Soon -->

    <section class="coming-soon" style="background-image: url(/images/background/1.jpg);">

        <div class="content">

            <div class="content-inner">

                <div class="auto-container">

                    <div class="logo"><a href="index.html"><img src="/images/logo.png" alt="" /></a></div>

                    <div class="sec-title"><h2>Coming Soon</h2></div>

                    <div class="time-counter">

                        <!-- Time Countdown -->

                        <div class="time-countdown clearfix" data-countdown="2021/10/1"></div>



                        <!-- Clock / Bg Clock -->

                        <div class="clock-wrapper">

                            <div class="clock-base">

                                <div class="click-indicator">

                                    <div><span></span></div>

                                    <div><span></span></div>

                                    <div><span></span></div>

                                    <div><span></span></div>

                                    <div><span></span></div>

                                    <div><span></span></div>

                                    <div><span></span></div>

                                    <div><span></span></div>

                                    <div><span></span></div>

                                    <div><span></span></div>

                                    <div><span></span></div>

                                    <div><span></span></div>

                                </div>

                                <div class="clock-hour"></div>

                                <div class="clock-minute"></div>

                                <div class="clock-second"></div>

                                <div class="clock-center"></div>

                            </div>

                        </div>

                    </div>

                    <!--Emailed Form-->

                    <div class="emailed-form">

                        <h3>Our Website is under construction.</h3>

                        <div class="text">stay tuned for something amazing! <br>Subscribe to be notified</div>

                        <form method="post" action="index.html">

                            <div class="form-group">

                                <input type="email" name="email" value="" placeholder="Your Email" required>

                                <button type="submit"><span class="fa fa-paper-plane"></span></button>

                            </div>

                        </form>

                    </div>

                    <ul class="social-icon-one">

                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>

                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>

                        <li><a href="#"><span class="fa fa-skype"></span></a></li>

                        <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>

                        <li><a href="#"><span class="fa fa-linkedin-in"></span></a></li>

                    </ul>

                </div>

            </div>

        </div>

    </section>

    <!-- End Coming Soon -->

	

</div>

<!--End pagewrapper-->



<!-- Color Palate / Color Switcher -->





<!--Scroll to top-->

<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>



{% include scripts2.html %}



</body>

</html>