
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Fito - Fitness Bootstrap Admin Dashboard</title>
    <!-- Favicon icon -->
    <link rel="icon" type="/image/png" sizes="16x16" href="/images/favicon.png">
    <!-- Nestable -->
    <link href="/css/jquery.nestable.min.css" rel="stylesheet">
    <!-- Custom Stylesheet -->
    	<link href="/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/css/style1.css" rel="stylesheet">

</head>

<body>

	{% include preloader.html %}


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

		{% include navheader.html %}
		
		{% include chatbox.html %}


		
		
		{% include header1.html %}

		{% include sidebar.html %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Advanced</a></li>
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Nestable</a></li>
					</ol>
                </div>
                <!-- row -->

                <!-- Nestable -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Nestable</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card-content">
                                            <div class="nestable">
                                                <div class="dd" id="nestable">
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="1">
                                                            <div class="dd-handle">Item 1</div>
                                                        </li>
                                                        <li class="dd-item" data-id="2">
                                                            <div class="dd-handle">Item 2</div>
                                                            <ol class="dd-list">
                                                                <li class="dd-item" data-id="3">
                                                                    <div class="dd-handle">Item 3</div>
                                                                </li>
                                                                <li class="dd-item" data-id="4">
                                                                    <div class="dd-handle">Item 4</div>
                                                                </li>
                                                                <li class="dd-item" data-id="5">
                                                                    <div class="dd-handle">Item 5</div>
                                                                    <ol class="dd-list">
                                                                        <li class="dd-item" data-id="6">
                                                                            <div class="dd-handle">Item 6</div>
                                                                        </li>
                                                                        <li class="dd-item" data-id="7">
                                                                            <div class="dd-handle">Item 7</div>
                                                                        </li>
                                                                        <li class="dd-item" data-id="8">
                                                                            <div class="dd-handle">Item 8</div>
                                                                        </li>
                                                                    </ol>
                                                                </li>
                                                                <li class="dd-item" data-id="9">
                                                                    <div class="dd-handle">Item 9</div>
                                                                </li>
                                                                <li class="dd-item" data-id="10">
                                                                    <div class="dd-handle">Item 10</div>
                                                                </li>
                                                            </ol>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-content">
                                            <div class="nestable">
                                                <div class="dd" id="nestable2">
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="13">
                                                            <div class="dd-handle">Item 13</div>
                                                        </li>
                                                        <li class="dd-item" data-id="13">
                                                            <div class="dd-handle">Item 13</div>
                                                        </li>
                                                        <li class="dd-item" data-id="14">
                                                            <div class="dd-handle">Item 14</div>
                                                        </li>
                                                        <li class="dd-item" data-id="15">
                                                            <div class="dd-handle">Item 15</div>
                                                            <ol class="dd-list">
                                                                <li class="dd-item" data-id="16">
                                                                    <div class="dd-handle">Item 16</div>
                                                                </li>
                                                                <li class="dd-item" data-id="17">
                                                                    <div class="dd-handle">Item 17</div>
                                                                </li>
                                                                <li class="dd-item" data-id="18">
                                                                    <div class="dd-handle">Item 18</div>
                                                                </li>
                                                                <li class="dd-item" data-id="18">
                                                                    <div class="dd-handle">Item 19</div>
                                                                </li>
                                                                <li class="dd-item" data-id="18">
                                                                    <div class="dd-handle">Item 20</div>
                                                                </li>
                                                                <li class="dd-item" data-id="18">
                                                                    <div class="dd-handle">Item 21</div>
                                                                </li>
                                                            </ol>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


		{% include footer4.html %}

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/global/global.min.js"></script>
	<script src="/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/js/custom.min.js"></script>
	<script src="/js/deznav-init.js"></script>
	
    

    <!-- Nestable -->
    <script src="/js/jquery.nestable.min.js"></script>


    <!-- All init script -->
    <script src="/js/plugins-init/nestable-init.js"></script>



</body>

</html>