
<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8">

<title>Gym HTML-5 Template | Homepage 03</title>

<!-- Stylesheets -->

<link href="css/bootstrap.css" rel="stylesheet">



<link href="css/style.css" rel="stylesheet">

<link href="css/responsive.css" rel="stylesheet">



<!-- Color Switcher Mockup -->

<link href="css/color-switcher-design.css" rel="stylesheet">



<!-- Color Themes -->

<link id="theme-color-file" href="css/color-themes/default-theme.css" rel="stylesheet">



<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">



<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

<link rel="icon" href="images/favicon.png" type="image/x-icon">



<!-- Responsive -->

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">



<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->

<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

</head>



<body class="hidden-bar-wrapper">



<div class="page-wrapper">

 	

    <!-- Preloader -->

    <div class="preloader"></div>

 	

 	<!-- Main Header-->

    <header class="main-header header-style-three">

    	

		<!-- Header Top -->

        <div class="header-top">

            <div class="auto-container">

                <div class="clearfix">

				

					<!-- Top Left -->

					<div class="top-left pull-left">

						<!-- Info List -->

                        <ul class="info-list">

							<li><span class="icon fa fa-location-arrow"></span> 27 Division St, New York, USA</li>

							<li><span class="icon fa fa-phone"></span> <a href="tel:+1-044-123-456-789"> +1 (044) 123 456 789</a></li>

							<li><span class="icon fa fa-envelope-o"></span> <a href="mailto:info@example.com"> info@example.com</a></li>

						</ul>

					</div>

					

					<!-- Top Right -->

                    <div class="top-right pull-right">

						

						<!--Language-->

                        <div class="language dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"><span class="flag-icon fa fa-globe"></span>EN &nbsp;<span class="icon fa fa-angle-down"></span></a>

                        	<ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu2">

                                <li><a href="#">English</a></li>

                                <li><a href="#">German</a></li>

                                <li><a href="#">Arabic</a></li>

                                <li><a href="#">Hindi</a></li>

                            </ul>

                        </div>

						

                    </div>

					

                </div>

            </div>

        </div>

		

		<!-- Header Upper -->

        <div class="header-upper">

        	<div class="auto-container clearfix">

            	

				<div class="pull-left logo-box">

					<div class="logo"><a href="index.html"><img src="images/logo-2.png" alt="" title=""></a></div>

				</div>

				

				<div class="nav-outer clearfix">

					<!--Mobile Navigation Toggler-->

					<div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>

					<!-- Main Menu -->

					<nav class="main-menu navbar-expand-md">

						<div class="navbar-header">

							<!-- Toggle Button -->    	

							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

								<span class="icon-bar"></span>

								<span class="icon-bar"></span>

								<span class="icon-bar"></span>

							</button>

						</div>

						

						<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">

							<ul class="navigation clearfix">

								<li class="current dropdown"><a href="#">Home</a>

									<ul>

										<li><a href="index.html">Home Page 01</a></li>

										<li><a href="index-2.html">Home Page 02</a></li>

										<li><a href="index-3.html">Home Page 03</a></li>

										<li class="dropdown"><a href="#">Header Styles</a>

											<ul>

												<li><a href="index.html">Header Style 01</a></li>

												<li><a href="index-2.html">Header Style 02</a></li>

												<li><a href="index-3.html">Header Style 03</a></li>

											</ul>

										</li>

									</ul>

								</li>

								<li class="dropdown"><a href="#">About</a>

									<ul>

										<li><a href="about.html">About Us</a></li>

										<li><a href="faq.html">Faq</a></li>

										<li><a href="price.html">Price</a></li>

										<li><a href="team.html">Team</a></li>

										<li><a href="time-table.html">Time Table</a></li>

										<li><a href="testimonial.html">Testimonial</a></li>

										<li><a href="comming-soon.html">Comming Soon</a></li>

									</ul>

								</li>

								<li class="dropdown"><a href="#">Classes</a>

									<ul>

										<li><a href="classes.html">Classes</a></li>

										<li><a href="classes-detail.html">Classes Detail</a></li>

									</ul>

								</li>

								<li class="dropdown"><a href="#">Portfolio</a>

									<ul>

										<li><a href="portfolio.html">Portfolio</a></li>

										<li><a href="portfolio-detail.html">Portfolio Detail</a></li>

									</ul>

								</li>

								<li class="dropdown"><a href="#">Shop</a>

									<ul>

										<li><a href="shop.html">Our Products</a></li>

										<li><a href="shop-single.html">Product Single</a></li>

										<li><a href="shopping-cart.html">Shopping Cart</a></li>

										<li><a href="checkout.html">Checkout</a></li>

										<li><a href="account.html">Account</a></li>

									</ul>

								</li>

								<li class="dropdown"><a href="#">Blog</a>

									<ul>

										<li><a href="blog.html">Our Blog</a></li>

										<li><a href="blog-single.html">Blog Single</a></li>

										<li><a href="not-found.html">Not Found</a></li>

									</ul>

								</li>

								<li><a href="contact.html">Contact us</a></li>

							</ul>

						</div>

					</nav>

					

					<!-- Main Menu End-->

					<div class="outer-box clearfix">

					

						<!-- Cart Box -->

						<div class="cart-box">

							<div class="dropdown">

								<button class="cart-box-btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flaticon-shopping-cart-3"></span><span class="total-cart">2</span></button>

								<div class="dropdown-menu pull-right cart-panel" aria-labelledby="dropdownMenu3">



									<div class="cart-product">

										<div class="inner">

											<div class="cross-icon"><span class="icon fa fa-remove"></span></div>

											<div class="image"><img src="images/resource/post-thumb-1.jpg" alt="" /></div>

											<h3><a href="shop-single.html">Flying Ninja</a></h3>

											<div class="quantity-text">Quantity 1</div>

											<div class="price">$99.00</div>

										</div>

									</div>

									<div class="cart-product">

										<div class="inner">

											<div class="cross-icon"><span class="icon fa fa-remove"></span></div>

											<div class="image"><img src="images/resource/post-thumb-2.jpg" alt="" /></div>

											<h3><a href="shop-single.html">Patient Ninja</a></h3>

											<div class="quantity-text">Quantity 1</div>

											<div class="price">$99.00</div>

										</div>

									</div>

									<div class="cart-total">Sub Total: <span>$198</span></div>

									<ul class="btns-boxed">

										<li><a href="shoping-cart.html">View Cart</a></li>

										<li><a href="checkout.html">CheckOut</a></li>

									</ul>



								</div>

							</div>

						</div>

						

						<!-- Search Btn -->

						<div class="search-box-btn search-box-outer"><span class="icon fa fa-search"></span></div>

						

						<!-- Quote Btn -->

						<div class="btn-box">

							<a href="contact.html" class="pass-btn theme-btn">Get A Free Pass</a>

						</div>

							

					</div>

					

				</div>

				

            </div>

        </div>

        <!--End Header Upper-->

        

		<!-- Sticky Header  -->

        <div class="sticky-header">

            <div class="auto-container clearfix">

                <!--Logo-->

                <div class="logo pull-left">

                    <a href="index.html" title=""><img src="images/logo-small.png" alt="" title=""></a>

                </div>

                <!--Right Col-->

                <div class="pull-right">

                    <!-- Main Menu -->

                    <nav class="main-menu">

                        <!--Keep This Empty / Menu will come through Javascript-->

                    </nav><!-- Main Menu End-->

					<!-- Main Menu End-->

					<div class="outer-box clearfix">

					

						<!-- Cart Box -->

						<div class="cart-box">

							<div class="dropdown">

								<button class="cart-box-btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flaticon-shopping-cart-3"></span><span class="total-cart">2</span></button>

								<div class="dropdown-menu pull-right cart-panel" aria-labelledby="dropdownMenu3">



									<div class="cart-product">

										<div class="inner">

											<div class="cross-icon"><span class="icon fa fa-remove"></span></div>

											<div class="image"><img src="images/resource/post-thumb-1.jpg" alt="" /></div>

											<h3><a href="shop-single.html">Flying Ninja</a></h3>

											<div class="quantity-text">Quantity 1</div>

											<div class="price">$99.00</div>

										</div>

									</div>

									<div class="cart-product">

										<div class="inner">

											<div class="cross-icon"><span class="icon fa fa-remove"></span></div>

											<div class="image"><img src="images/resource/post-thumb-2.jpg" alt="" /></div>

											<h3><a href="shop-single.html">Patient Ninja</a></h3>

											<div class="quantity-text">Quantity 1</div>

											<div class="price">$99.00</div>

										</div>

									</div>

									<div class="cart-total">Sub Total: <span>$198</span></div>

									<ul class="btns-boxed">

										<li><a href="shoping-cart.html">View Cart</a></li>

										<li><a href="checkout.html">CheckOut</a></li>

									</ul>



								</div>

							</div>

						</div>

						

						<!-- Search Btn -->

						<div class="search-box-btn search-box-outer"><span class="icon fa fa-search"></span></div>

						

					</div>

                </div>

            </div>

        </div><!-- End Sticky Menu -->

    

		<!-- Mobile Menu  -->

        <div class="mobile-menu">

            <div class="menu-backdrop"></div>

            <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

            

            <nav class="menu-box">

                <div class="nav-logo"><a href="index.html"><img src="images/logo-2.png" alt="" title=""></a></div>

                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>

            </nav>

        </div><!-- End Mobile Menu -->

	

    </header>

    <!-- End Main Header -->

	

	<!-- Main Slider Three -->

    <section class="main-slider-three">

    	

        <div class="main-slider-carousel owl-carousel owl-theme">

            

            <div class="slide" style="background-image:url(images/main-slider/image-4.jpg)">

                <div class="auto-container">

					

					<!-- Content boxed -->

					<div class="content-boxed">

						<div class="title">Grow Your Strengtn</div>

						<h1>In Body Building</h1>

						<div class="text">Unleash your fears, free your mind, feel your body</div>

						<div class="link-box clearfix">

							<div class="btn-one-outer"><a href="#" class="theme-btn btn-style-one"><span class="txt">Join Us Now</span></a></div>

						</div>

					</div>

					

                </div>

            </div>

            

            <div class="slide" style="background-image:url(images/main-slider/image-4.jpg)">

                <div class="auto-container">

					

					<!-- Content boxed -->

					<div class="content-boxed">

						<div class="title">Grow Your Strengtn</div>

						<h1>In Body Building</h1>

						<div class="text">Unleash your fears, free your mind, feel your body</div>

						<div class="link-box clearfix">

							<div class="btn-one-outer"><a href="#" class="theme-btn btn-style-one"><span class="txt">Join Us Now</span></a></div>

						</div>

					</div>

					

                </div>

            </div>

			

			<div class="slide" style="background-image:url(images/main-slider/image-4.jpg)">

                <div class="auto-container">

					

					<!-- Content boxed -->

					<div class="content-boxed">

						<div class="title">Grow Your Strengtn</div>

						<h1>In Body Building</h1>

						<div class="text">Unleash your fears, free your mind, feel your body</div>

						<div class="link-box clearfix">

							<div class="btn-one-outer"><a href="#" class="theme-btn btn-style-one"><span class="txt">Join Us Now</span></a></div>

						</div>

					</div>

					

                </div>

            </div>

			

        </div>

		

		<!-- Social Box -->

		<div class="social-box">

			<ul>

				<li class="share"><span class="icon fa fa-share"></span></li>

				<li><a href="#" class="fa fa-facebook-f"></a></li>

				<li><a href="#" class="fa fa-twitter"></a></li>

				<li><a href="#" class="fa fa-google"></a></li>

				<li><a href="#" class="fa fa-whatsapp"></a></li>

			</ul>

		</div>

		

    </section>

    <!-- End Main Slider -->

	

	<!-- Services Section Two -->

	<section class="services-section-two">

		<div class="image-layer" style="background-image:url(images/background/8.jpg)"></div>

		<div class="auto-container">

			

			<div class="row clearfix">

				

				<!-- Service Block -->

				<div class="service-block-two col-lg-4 col-md-6 col-sm-12">

					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">

						<div class="icon-box">

							<span class="icon flaticon-barbell"></span>

						</div>

						<span class="number">01</span>

						<div class="title">Friendly Atmosphere</div>

						<h4><a href="classes-detail.html">CARDIO PROGRAM</a></h4>

						<div class="text">Make the muscles of your body larger and fit stronger through tension and exercises such as lifting weights.</div>

					</div>

				</div>

				

				<!-- Service Block -->

				<div class="service-block-two col-lg-4 col-md-6 col-sm-12">

					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">

						<div class="icon-box">

							<span class="icon flaticon-stationary-bike"></span>

						</div>

						<span class="number">02</span>

						<div class="title">Friendly Atmosphere</div>

						<h4><a href="classes-detail.html">PURE STRENGTH</a></h4>

						<div class="text">Make the muscles of your body larger and fit stronger through tension and exercises such as lifting weights.</div>

					</div>

				</div>

				

				<!-- Service Block -->

				<div class="service-block-two col-lg-4 col-md-6 col-sm-12">

					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">

						<div class="icon-box">

							<span class="icon flaticon-people"></span>

						</div>

						<span class="number">03</span>

						<div class="title">Friendly Atmosphere</div>

						<h4><a href="classes-detail.html">POWER YOGA</a></h4>

						<div class="text">Make the muscles of your body larger and fit stronger through tension and exercises such as lifting weights.</div>

					</div>

				</div>

				

			</div>

			

		</div>

	</section>

	<!-- End Services Section Two -->

	

	<!-- Newsletter Section -->

	<section class="newsletter-section">

		<div class="auto-container">

			<div class="inner-container">

				<div class="pattern-layer" style="background-image:url(images/background/7.jpg)"></div>

				<div class="section-image" style="background-image:url(images/resource/newslatter.png)"></div>

				<div class="clearfix">

					

					<!-- Map Column -->

					<div class="map-column col-lg-6 col-md-12 col-sm-12">

						<div class="inner-column">
							
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25216.765666144616!2d144.9456413371385!3d-37.8112271492458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642b8c21cb29b%3A0x1c045678462e3510!2sMelbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2s!4v1598513355690!5m2!1sen!2s" height="250" ></iframe>

							<a class="direction" href="contact.html">Get Direction <span class="fa fa-angle-double-right"></span></a>

							<h3>27 Division St, New York, USA</h3>

						</div>

					</div>

					

					<!-- Form Column -->

					<div class="form-column col-lg-6 col-md-12 col-sm-12">

						<div class="inner-column">

							<span class="circle-one"></span>

							<span class="circle-two"></span>

							<h4>Email Newsletter</h4>

							<div class="newsletter-form">

								<form method="post" action="contact.html">

									<div class="form-group">

										<input type="email" name="email" value="" placeholder="Your email address....." required="">

										<button type="submit" class="theme-btn submit-btn"><span class="txt">Subscribe</span></button>

									</div>

								</form>

							</div>

							<div class="text">Register now and get the latest news & updates</div>

						</div>

					</div>

					

				</div>

			</div>

		</div>

	</section>

	<!-- End Subscribe Section -->

	

	<!-- Benefits Section -->

	<section class="benefits-section">

		<div class="side-image" style="background-image:url(images/resource/benefit-5.png)"></div>

		<div class="auto-container">

			<div class="row clearfix">

				

				<!-- Content Column -->

				<div class="content-column col-lg-6 col-md-12 col-sm-12">

					<div class="inner-column">

						<!-- Sec Title -->

						<div class="sec-title">

							<div class="title">OUR BENEFITS</div>

							<h2>EVERYTHING IS <br> POSSIBLE WITH US</h2>

						</div>

						

						<!-- Benefit Block -->

						<div class="benefit-block">

							<div class="block-inner">

								<span class="icon flaticon-dumbbell"></span>

								<strong>40 Courses a Week</strong>

								<div class="feature-text">Everyday our entire team works to deliver you our skills, knowledge and passion</div>

							</div>

						</div>

						

						<!-- Benefit Block -->

						<div class="benefit-block">

							<div class="block-inner">

								<span class="icon flaticon-fitness-2"></span>

								<strong>35+ Professional Trainers</strong>

								<div class="feature-text">Everyday our entire team works to deliver you our skills, knowledge and passion</div>

							</div>

						</div>

						

						<!-- Benefit Block -->

						<div class="benefit-block">

							<div class="block-inner">

								<span class="icon flaticon-man"></span>

								<strong>Effective Group Training</strong>

								<div class="feature-text">Everyday our entire team works to deliver you our skills, knowledge and passion</div>

							</div>

						</div>

						

					</div>

				</div>

				

				<!-- Images Column -->

				<div class="images-column col-lg-6 col-md-12 col-sm-12">

					<div class="pattern-layer" style="background-image:url(images/background/pattern-5.png)"></div>

					<div class="pattern-layer-two" style="background-image:url(images/background/pattern-6.png)"></div>

					<div class="inner-column">

						<div class="image">

							<img src="images/resource/benefit-1.jpg" alt="" />

						</div>

						<div class="image-one">

							<img src="images/resource/benefit-2.jpg" alt="" />

						</div>

						<div class="image-two">

							<img src="images/resource/benefit-3.jpg" alt="" />

						</div>

						<div class="image-three">

							<img src="images/resource/benefit-4.jpg" alt="" />

						</div>

					</div>

				</div>

				

			</div>

		</div>

	</section>

	<!-- End Benefits Section -->

	

	<!-- Fluid Section -->

	<section class="fluid-section-one">

		<div class="left-side-text">BENEFITS</div>

		<div class="right-side-text">SKILLS</div>

		<div class="bottom-big-text">Facts</div>

		<div class="outer-container">

			<div class="clearfix">

				

				<!-- Left Column -->

				<div class="left-column">

					<div class="pattern-image" style="background-image:url(images/background/pattern-7.png)"></div>

					<div class="inner-column">

						<div class="row clearfix">

							

							<!-- Service Block Three -->

							<div class="service-block-three col-lg-6 col-md-6 col-sm-12">

								<div class="inner-box">

									<div class="icon-box">

										<span class="icon flaticon-tools-and-utensils"></span>

									</div>

									<h4><a href="classes-detail.html">Progression</a></h4>

								</div>

							</div>

							

							<!-- Service Block Three -->

							<div class="service-block-three col-lg-6 col-md-6 col-sm-12">

								<div class="inner-box">

									<div class="icon-box">

										<span class="icon flaticon-plan"></span>

									</div>

									<h4><a href="classes-detail.html">Nutrition</a></h4>

								</div>

							</div>

							

							<!-- Service Block Three -->

							<div class="service-block-three col-lg-6 col-md-6 col-sm-12">

								<div class="inner-box">

									<div class="icon-box">

										<span class="icon flaticon-exercise"></span>

									</div>

									<h4><a href="classes-detail.html">Confience</a></h4>

								</div>

							</div>

							

							<!-- Service Block Three -->

							<div class="service-block-three col-lg-6 col-md-6 col-sm-12">

								<div class="inner-box">

									<div class="icon-box">

										<span class="icon flaticon-sports"></span>

									</div>

									<h4><a href="classes-detail.html">Workout</a></h4>

								</div>

							</div>

							

						</div>

					</div>

				</div>

				

				<!-- Right Column -->

				<div class="right-column">

					<div class="inner-column">

						<div class="image-layer" style="background-image:url(images/background/9.jpg)"></div>

						<!-- Sec Title -->

						<div class="sec-title light">

							<div class="title">Let See Now</div>

							<h2>CHECK OUR SKILLS</h2>

						</div>

						<div class="text">We’ve spent over 10 years defining fitness and now we hare reinventing it. we’ve evolved so that you can transform your life.</div>

						

						<!-- Skills -->

						<div class="skills">



							<!-- Skill Item -->

							<div class="skill-item">

								<div class="skill-header clearfix">

									<div class="skill-title">Professionalism</div>

									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="85">0</span>%</div></div>

								</div>

								<div class="skill-bar">

									<div class="bar-inner"><div class="bar progress-line" data-width="85"></div></div>

								</div>

							</div>



							<!-- Skill Item -->

							<div class="skill-item">

								<div class="skill-header clearfix">

									<div class="skill-title">Dedication</div>

									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="65">0</span>%</div></div>

								</div>

								<div class="skill-bar">

									<div class="bar-inner"><div class="bar progress-line" data-width="65"></div></div>

								</div>

							</div>



							<!-- Skill Item -->

							<div class="skill-item">

								<div class="skill-header clearfix">

									<div class="skill-title">Challenging</div>

									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="50">0</span>%</div></div>

								</div>

								<div class="skill-bar">

									<div class="bar-inner"><div class="bar progress-line" data-width="50"></div></div>

								</div>

							</div>

							

							<!-- Skill Item -->

							<div class="skill-item">

								<div class="skill-header clearfix">

									<div class="skill-title">Perseverance</div>

									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="75">0</span>%</div></div>

								</div>

								<div class="skill-bar">

									<div class="bar-inner"><div class="bar progress-line" data-width="75"></div></div>

								</div>

							</div>



						</div>

						

					</div>

				</div>

				

			</div>

		</div>

	</section>

	<!-- End Fluid Section -->

	

	<!-- Counter Section Two -->

	<section class="counter-section-two">

		<div class="color-layer"></div>

		<div class="auto-container">

			<!-- Fact Counter -->

			<div class="fact-counter-two">

				<div class="row clearfix">



					<!-- Column -->

					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">

						<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">

							<div class="content">

								<div class="icon flaticon-muscle"></div>

								<div class="count-outer count-box">

									<span class="count-text" data-speed="3500" data-stop="120">0</span>

								</div>

								<div class="counter-title">Expert Trainer</div>

							</div>

						</div>

					</div>



					<!--Column-->

					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">

						<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">

							<div class="content">

								<div class="icon flaticon-fitness"></div>

								<div class="count-outer count-box alternate">

									<span class="count-text" data-speed="2500" data-stop="550">0</span>

								</div>

								<div class="counter-title">Happy Clint</div>

							</div>

						</div>

					</div>



					<!--Column-->

					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">

						<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">

							<div class="content">

								<div class="icon flaticon-building"></div>

								<div class="count-outer count-box">

									<span class="count-text" data-speed="3000" data-stop="150">0</span>

								</div>

								<div class="counter-title">Total Branch</div>

							</div>

						</div>

					</div>

					

					<!--Column-->

					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">

						<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">

							<div class="content">

								<div class="icon flaticon-fitness-1"></div>

								<div class="count-outer count-box">

									<span class="count-text" data-speed="2000" data-stop="25">0</span>

								</div>

								<div class="counter-title">Experience</div>

							</div>

						</div>

					</div>

				

				</div>

				

			</div>

			

		</div>

	</section>

	<!-- End Counter Section -->

	

	<!-- Faq Section -->

	<section class="faq-section">

		<div class="side-text">faq’s</div>

		<div class="auto-container">

			<div class="row clearfix">

				

				<!-- Image Column -->

				<div class="image-column col-lg-6 col-md-12 col-sm-12">

					<div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">

						<div class="image">

							<img src="images/resource/faq.png" alt="" />

						</div>

					</div>

				</div>

				

				<!-- Accordian Column -->

				<div class="accordian-column col-lg-6 col-md-12 col-sm-12">

					<div class="inner-column">

						

						<!-- Sec Title -->

						<div class="sec-title">

							<div class="title">Some FAQ’s</div>

							<h2>FREQUENTLY ASKED <br> QUESTIONS</h2>

						</div>

						

						<!-- Accordian Box -->

						<ul class="accordion-box">



							<!--Block-->

							<li class="accordion block">

								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How to raise over all fitness level?</div>

								<div class="acc-content">

									<div class="content">

										<div class="text">Now were up in the big leagues getting’ our turn at bat. And when the odds are against him and their dangers work to do. Duis aute irure dolor.</div>

									</div>

								</div>

							</li>



							<!--Block-->

							<li class="accordion block">

								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How can we get natural way to health?</div>

								<div class="acc-content">

									<div class="content">

										<div class="text">Now were up in the big leagues getting’ our turn at bat. And when the odds are against him and their dangers work to do. Duis aute irure dolor.</div>

									</div>

								</div>

							</li>

							

							<!--Block-->

							<li class="accordion block active-block">

								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What if i am do for body strength?</div>

								<div class="acc-content current">

									<div class="content">

										<div class="text">Now were up in the big leagues getting’ our turn at bat. And when the odds are against him and their dangers work to do. Duis aute irure dolor.</div>

									</div>

								</div>

							</li>

							

							<!--Block-->

							<li class="accordion block">

								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Can I get a special trainer for bodybuilding?</div>

								<div class="acc-content">

									<div class="content">

										<div class="text">Now were up in the big leagues getting’ our turn at bat. And when the odds are against him and their dangers work to do. Duis aute irure dolor.</div>

									</div>

								</div>

							</li>

							

							<!--Block-->

							<li class="accordion block">

								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>When an i charged for the service?</div>

								<div class="acc-content">

									<div class="content">

										<div class="text">Now were up in the big leagues getting’ our turn at bat. And when the odds are against him and their dangers work to do. Duis aute irure dolor.</div>

									</div>

								</div>

							</li>

							

						</ul>

						

					</div>

				</div>

				

			</div>

		</div>

	</section>

	<!-- End Faq Section -->

	

	<!-- Team Section -->

	<section class="team-section">

		<div class="side-text">Trainer</div>

		<div class="auto-container">

			<!-- Sec Title -->

			<div class="sec-title light centered">

				<div class="title">Team Staff</div>

				<h2>Team of Expert <br> Coaches</h2>

			</div>

			<div class="row clearfix">

				

				<!-- Team Block Two -->

				<div class="team-block-two col-lg-4 col-md-6 col-sm-12">

					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">

						<div class="image">

							<a href="#"><img src="images/resource/team-1.jpg" alt="" /></a>

						</div>

						<div class="content">

							<div class="title">Crossfit Coach</div>

							<a href="team.html" class="name">MATIE JUNIOR</a>

						</div>

						<div class="side-title">Crossfit Coach</div>

					</div>

				</div>

				

				<!-- Team Block Two -->

				<div class="team-block-two col-lg-4 col-md-6 col-sm-12">

					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">

						<div class="image">

							<a href="#"><img src="images/resource/team-2.jpg" alt="" /></a>

						</div>

						<div class="content">

							<div class="title">Bodybuilding Coach</div>

							<a href="team.html" class="name">Steve Cross</a>

						</div>

						<div class="side-title">Crossfit Coach</div>

					</div>

				</div>

				

				<!-- Team Block Two -->

				<div class="team-block-two col-lg-4 col-md-6 col-sm-12">

					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">

						<div class="image">

							<a href="#"><img src="images/resource/team-3.jpg" alt="" /></a>

						</div>

						<div class="content">

							<div class="title">Cardio & Conditioning</div>

							<a href="team.html" class="name">MAdona FRON</a>

						</div>

						<div class="side-title">Crossfit Coach</div>

					</div>

				</div>

				

			</div>

		</div>

	</section>

	<!-- End Team Section -->

	

	<!-- Clients Section -->

    <section class="clients-section style-three">

        <div class="auto-container">

            

            <div class="sponsors-outer">

                <!--Sponsors Carousel-->

                <div class="clearfix">

                    <figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure>

                    <figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure>

                    <figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure>

                    <figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure>

                    <figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure>

                </div>

            </div>

            

        </div>

    </section>

    <!-- End Clients Section -->

	

	<!-- News Section -->

	<section class="news-section-two style-two">

		<div class="pattern-layer" style="background-image:url(images/background/pattern-8.png)"></div>

		<div class="pattern-layer-two" style="background-image:url(images/background/pattern-9.png)"></div>

		<div class="auto-container">

			<!-- Sec Title -->

			<div class="sec-title centered">

				<div class="title">Our Blog & Artical</div>

				<h2>Latest News <br> Posts</h2>

			</div>

			

			<div class="row clearfix">

				

				<!-- News Block Two -->

				<div class="news-block-two style-two col-lg-4 col-md-6 col-sm-12">

					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">

						<div class="image">

							<a href="blog-single.html"><img src="images/resource/news-4.jpg" alt="" /></a>

						</div>

						<div class="lower-content">

							<ul class="post-meta">

								<li><span class="icon fa fa-folder-open"></span> GYM</li>

							</ul>

							<h4><a href="blog-single.html">Push your Fitness Further <br> with Our GYM Facilities</a></h4>

							<div class="lower-box">

								<div class="clearfix">

									<div class="pull-left">

										<a class="comment" href="blog-single.html"><span class="icon fa fa-comment-o"></span> 02</a>

									</div>

									<div class="pull-right">

										<div class="author-info">

											<div class="info-inner">

												<div class="icon flaticon-user-4"></div>

												By Jone Ankar <span>11.12.2020</span>

											</div>

										</div>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

				

				<!-- News Block Two -->

				<div class="news-block-two style-two col-lg-4 col-md-6 col-sm-12">

					<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">

						<div class="image">

							<a href="blog-single.html"><img src="images/resource/news-5.jpg" alt="" /></a>

						</div>

						<div class="lower-content">

							<ul class="post-meta">

								<li><span class="icon fa fa-folder-open"></span> Fitness</li>

							</ul>

							<h4><a href="blog-single.html">How to keep your Body Health in Over Festival</a></h4>

							<div class="lower-box">

								<div class="clearfix">

									<div class="pull-left">

										<a class="comment" href="blog-single.html"><span class="icon fa fa-comment-o"></span> 02</a>

									</div>

									<div class="pull-right">

										<div class="author-info">

											<div class="info-inner">

												<div class="icon flaticon-user-4"></div>

												By Jone Ankar <span>11.12.2020</span>

											</div>

										</div>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

				

				<!-- News Block Two -->

				<div class="news-block-two style-two col-lg-4 col-md-6 col-sm-12">

					<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">

						<div class="image">

							<a href="blog-single.html"><img src="images/resource/news-6.jpg" alt="" /></a>

						</div>

						<div class="lower-content">

							<ul class="post-meta">

								<li><span class="icon fa fa-folder-open"></span> Cardio Burn</li>

							</ul>

							<h4><a href="blog-single.html">Give your Fitness a Boost with our GYM Challenge</a></h4>

							<div class="lower-box">

								<div class="clearfix">

									<div class="pull-left">

										<a class="comment" href="blog-single.html"><span class="icon fa fa-comment-o"></span> 02</a>

									</div>

									<div class="pull-right">

										<div class="author-info">

											<div class="info-inner">

												<div class="icon flaticon-user-4"></div>

												By Jone Ankar <span>11.12.2020</span>

											</div>

										</div>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

				

			</div>

			

		</div>

	</section>

	

	<!-- Main Footer -->

    <footer class="main-footer style-three">

		<div class="boxed-pattern-layer" style="background-image:url(images/background/pattern-10.png)"></div>

		<div class="auto-container">

        	<!-- Widgets Section -->

            <div class="widgets-section">

            	<div class="row clearfix">

                	

                    <!-- Big Column -->

                    <div class="big-column col-lg-6 col-md-12 col-sm-12">

                        <div class="row clearfix">

							

							<!--Footer Column-->

                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">

                                <div class="footer-widget logo-widget">

									<div class="logo">

                                    	<a href="index.html"><img src="images/footer-logo.png" alt="" /></a>

                                    </div>

									<ul class="footer-info-list">

										<li><span class="icon fa fa-location-arrow"></span>27 Division St, New York, <br> United State Aamrica</li>

										<li><span class="icon fa fa-phone"></span><a href="tel:+1-044-123-456-789">+1 (044) 123 456 789</a></li>

										<li><span class="icon fa fa-envelope-o"></span><a href="mailto:info@example.com">info@example.com</a></li>

									</ul>

								</div>

							</div>

							

							<!-- Footer Column -->

                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">

                                <div class="footer-widget links-widget">

									<h4>Useful Links</h4>

									<ul class="list-link">

										<li><a href="#">Terms and Conditions</a></li>

										<li><a href="#">Privacy Policy</a></li>

										<li><a href="#">Cookie Policy & Date Protection</a></li>

										<li><a href="#">Complaints Policy</a></li>

										<li><a href="#">TimeTable Maniged</a></li>

										<li><a href="#">Update News</a></li>

									</ul>

								</div>

							</div>

							

						</div>

					</div>

					

					<!-- Big Column -->

                    <div class="big-column col-lg-6 col-md-12 col-sm-12">

                        <div class="row clearfix">

							

							<!-- Footer Column -->

                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">

                                <div class="footer-widget links-widget">

									<h4>Our Services</h4>

									<ul class="list-link">

										<li><a href="#">Fat Burn</a></li>

										<li><a href="#">Streching</a></li>

										<li><a href="#">Weight Loss</a></li>

										<li><a href="#">Self Defense</a></li>

										<li><a href="#">Body Building</a></li>

										<li><a href="#">Psycho Trainning</a></li>

									</ul>

								</div>

							</div>

							

							<!-- Footer Column -->

                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">

                                <div class="footer-widget consult-widget">

									<h4>Free Consultation</h4>

									<div class="phone"><span class="icon fa fa-phone"></span> 1-800-643-430</div>

									<div class="text">Power GYM lift is champ in providing its users with absolutely everything a fitness or gym site needs.</div>

									<div class="social-links">

										<a href="#" class="fa fa-facebook"></a>

										<a href="#" class="fa fa-twitter"></a>

										<a href="#" class="fa fa-instagram"></a>

										<a href="#" class="fa fa-linkedin"></a>

									</div>

								</div>

							</div>

							

						</div>

					</div>

					

				</div>

			</div>

		

			<!-- Footer Bottom -->

			<div class="footer-bottom">

				<div class="copyright">Copyright 2020 Theme by expertthemes</div>

			</div>

		

		</div>

	</footer>

	

</div>

<!--End pagewrapper-->



<!-- Color Palate / Color Switcher -->

<div class="color-palate">

    <div class="color-trigger">

        <i class="fa fa-gear"></i>

    </div>

    <div class="color-palate-head">

        <h6>Choose Your Color</h6>

    </div>

	<div class="various-color clearfix">

        <div class="colors-list">

            <span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>

            <span class="palate green-color" data-theme-file="css/color-themes/green-theme.css"></span>

            <span class="palate olive-color" data-theme-file="css/color-themes/olive-theme.css"></span>

            <span class="palate orange-color" data-theme-file="css/color-themes/orange-theme.css"></span>

            <span class="palate purple-color" data-theme-file="css/color-themes/purple-theme.css"></span>

            <span class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>

            <span class="palate brown-color" data-theme-file="css/color-themes/brown-theme.css"></span>

            <span class="palate redd-color" data-theme-file="css/color-themes/redd-color.css"></span>

        </div>

    </div>

	

    <h5>Other Options</h5>

	<ul class="rtl-version option-box"> <li class="rtl">RTL Version</li> <li>LTR Version</li> </ul>

	

    <a href="#" class="purchase-btn">Purchase now $17</a>

    

    <div class="palate-foo">

        <span>You will find much more options for colors and styling in admin panel. This color picker is used only for demonstation purposes.</span>

    </div>



</div>



<!-- Search Popup -->

<div class="search-popup">

	<button class="close-search style-two"><span class="flaticon-multiply"></span></button>

	<button class="close-search"><span class="flaticon-up-arrow-1"></span></button>

	<form method="post" action="blog.html">

		<div class="form-group">

			<input type="search" name="search-field" value="" placeholder="Search Here" required="">

			<button type="submit"><i class="fa fa-search"></i></button>

		</div>

	</form>

</div>

<!-- End Header Search -->



<!--Scroll to top-->

<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>



<script src="js/jquery.js"></script>

<script src="js/popper.min.js"></script>

<script src="js/bootstrap.min.js"></script>

<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>

<script src="js/jquery.fancybox.js"></script>

<script src="js/appear.js"></script>

<script src="js/parallax.min.js"></script>

<script src="js/tilt.jquery.min.js"></script>

<script src="js/jquery.paroller.min.js"></script>

<script src="js/owl.js"></script>

<script src="js/wow.js"></script>

<script src="js/nav-tool.js"></script>

<script src="js/jquery-ui.js"></script>

<script src="js/color-settings.js"></script>

<script src="js/script.js"></script>



<!--Google Map APi Key-->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIJ_QKHN-bi6_1C9f5eYE3pZs1zhQIo5o"></script>

<script src="js/map-script.js"></script>

<!--End Google Map APi-->



</body>

</html>