
<!DOCTYPE html>
<html>
{% include head2.html %}

<body class="hidden-bar-wrapper">

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
 	<!-- Main Header-->
    <header class="main-header header-style-two">
    	
		<!-- Header Top -->
        <div class="header-top">
            <div class="auto-container">
                <div class="clearfix">
				
					<!-- Top Left -->
					<div class="top-left pull-left">
						<!-- Info List -->
                        <ul class="info-list">
							<li><span class="icon fa fa-location-arrow"></span> 27 Division St, New York, USA</li>
							<li><span class="icon fa fa-phone"></span> <a href="tel:+1-044-123-456-789"> +1 (044) 123 456 789</a></li>
							<li><span class="icon fa fa-envelope-o"></span> <a href="mailto:info@example.com"> info@example.com</a></li>
						</ul>
					</div>
					
					<!-- Top Right -->
                    <div class="top-right pull-right">
						
						<!--Language-->
                        <div class="language dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"><span class="flag-icon fa fa-globe"></span>EN &nbsp;<span class="icon fa fa-angle-down"></span></a>
                        	<ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu2">
                                <li><a href="#">English</a></li>
                                <li><a href="#">German</a></li>
                                <li><a href="#">Arabic</a></li>
                                <li><a href="#">Hindi</a></li>
                            </ul>
                        </div>
						
                    </div>
					
                </div>
            </div>
        </div>
		
		<!-- Header Upper -->
        <div class="header-upper">
        	<div class="auto-container clearfix">
            	
				<div class="pull-left logo-box">
					<div class="logo"><a href="index.html"><img src="/images/logo.png" alt="" title=""></a></div>
				</div>
				
				<div class="nav-outer clearfix">
					<!--Mobile Navigation Toggler-->
					<div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
					<!-- Main Menu -->
					{% include nav3.html %}
					
				</div>
				
            </div>
        </div>
        <!--End Header Upper-->
        
		<!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="index.html" title=""><img src="/images/logo-small.png" alt="" title=""></a>
                </div>
                <!--Right Col-->
                <div class="pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav><!-- Main Menu End-->
					
                </div>
            </div>
        </div><!-- End Sticky Menu -->
    
		<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-multiply"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="/images/logo-2.png" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            </nav>
        </div>
		<!-- End Mobile Menu -->
	
    </header>
    <!-- End Main Header -->
	
	<!--Page Title-->
    <section class="page-title" style="background-image:url(/images/background/11.jpg)">
    	<div class="auto-container">
			<div class="clearfix">
				<div class="pull-left">
					<h2>Portfolio</h2>
					<div class="text">Fitness is not a destination it is a way of life.</div>
				</div>
				<div class="pull-right">
					<ul class="page-breadcrumb">
						<li><a href="index.html">home</a></li>
						<li>Portfolio</li>
					</ul>
				</div>
			</div>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Portfolio Page Section -->
	<section class="portfolio-page-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="/images/gallery/1.jpg" alt="" />
							<div class="content">
								<div class="content-inner">
									<h6><a href="portfolio-detail.html">Cardio Program</a></h6>
									<a href="portfolio-detail.html" class="icon fa fa-arrow-circle-o-right"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="/images/gallery/2.jpg" alt="" />
							<div class="content">
								<div class="content-inner">
									<h6><a href="portfolio-detail.html">Cardio Program</a></h6>
									<a href="portfolio-detail.html" class="icon fa fa-arrow-circle-o-right"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="/images/gallery/3.jpg" alt="" />
							<div class="content">
								<div class="content-inner">
									<h6><a href="portfolio-detail.html">Cardio Program</a></h6>
									<a href="portfolio-detail.html" class="icon fa fa-arrow-circle-o-right"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="/images/gallery/4.jpg" alt="" />
							<div class="content">
								<div class="content-inner">
									<h6><a href="portfolio-detail.html">Cardio Program</a></h6>
									<a href="portfolio-detail.html" class="icon fa fa-arrow-circle-o-right"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="/images/gallery/5.jpg" alt="" />
							<div class="content">
								<div class="content-inner">
									<h6><a href="portfolio-detail.html">Cardio Program</a></h6>
									<a href="portfolio-detail.html" class="icon fa fa-arrow-circle-o-right"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="/images/gallery/6.jpg" alt="" />
							<div class="content">
								<div class="content-inner">
									<h6><a href="portfolio-detail.html">Cardio Program</a></h6>
									<a href="portfolio-detail.html" class="icon fa fa-arrow-circle-o-right"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="/images/gallery/7.jpg" alt="" />
							<div class="content">
								<div class="content-inner">
									<h6><a href="portfolio-detail.html">Cardio Program</a></h6>
									<a href="portfolio-detail.html" class="icon fa fa-arrow-circle-o-right"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="/images/gallery/8.jpg" alt="" />
							<div class="content">
								<div class="content-inner">
									<h6><a href="portfolio-detail.html">Cardio Program</a></h6>
									<a href="portfolio-detail.html" class="icon fa fa-arrow-circle-o-right"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="/images/gallery/9.jpg" alt="" />
							<div class="content">
								<div class="content-inner">
									<h6><a href="portfolio-detail.html">Cardio Program</a></h6>
									<a href="portfolio-detail.html" class="icon fa fa-arrow-circle-o-right"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
			<!-- Post Share Options -->
			<div class="pagination-outer text-center">
				<div class="styled-pagination text-center">
					<ul class="clearfix">
						<li class="prev"><a href="#"><span class="fa fa-angle-double-left"></span> Prev</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li class="active"><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li class="next"><a href="#">Next <span class="fa fa-angle-double-right"></span></a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</section>
	<!-- End Portfolio Page Section -->
	
	<!-- Subscribe Section -->
	<section class="subscribe-section">
		<div class="auto-container">
			<div class="inner-container margin-bottom">
				<div class="pattern-layer" style="background-image:url(/images/background/7.jpg)"></div>
				<div class="section-image" style="background-image:url(/images/resource/newslatter.png)"></div>
				<div class="row clearfix">
					
					<!-- Title Column -->
					<div class="title-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<h3>Don’t miss any updates <br> Get subscribed!</h3>
						</div>
					</div>
					
					<!-- Form Column -->
					<div class="form-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							
							<div class="newsletter-form">
								<form method="post" action="contact.html">
									<div class="form-group">
										<input type="email" name="email" value="" placeholder="Add your email ......" required="">
										<button type="submit" class="theme-btn submit-btn"><span class="txt">Subscribe</span></button>
									</div>
								</form>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Subscribe Section -->
	
	<!-- Main Footer -->
    <footer class="main-footer style-four" style="background-image:url(/images/background/2.jpg)">
		<div class="auto-container">
        	<!-- Widgets Section -->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="index.html"><img src="/images/footer-logo.png" alt="" /></a>
                                    </div>
									<div class="text">Gym Expert is a champ in providing its users with absolutely everything a fitness or gym site needs. consectetur adipiscing elit. Suspendisse interdum nulla eu posuere scelerisque.</div>
									<div class="social-links">
										<span>Follow on Socials </span>
										<a href="#" class="fa fa-facebook"></a>
										<a href="#" class="fa fa-twitter"></a>
										<a href="#" class="fa fa-instagram"></a>
										<a href="#" class="fa fa-linkedin"></a>
									</div>
								</div>
							</div>
							
							<!-- Footer Column -->
							<div class="footer-column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget news-widget">
									<h4>Latest Posts</h4>
									<!-- Footer Column -->
									<div class="widget-content">
										<div class="post">
											<div class="thumb"><a href="blog-single.html"><img src="/images/resource/post-thumb-3.jpg" alt=""></a></div>
											<h5><a href="blog-single.html">Your Future is Created by What You Do Today</a></h5>
											<span class="date">JUNE 21, 2020</span>
										</div>

										<div class="post">
											<div class="thumb"><a href="blog-single.html"><img src="/images/resource/post-thumb-4.jpg" alt=""></a></div>
											<h5><a href="blog-single.html">How to Maximise Time Spent at The GYM.</a></h5>
											<span class="date">JUNE 21, 2019</span>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
					<!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
									<h4>Our Services</h4>
									<ul class="list-link">
										<li><a href="">Fat Burn</a></li>
										<li><a href="">Streching</a></li>
										<li><a href="">Weight Loss</a></li>
										<li><a href="">Self Defense</a></li>
										<li><a href="">Body Building</a></li>
										<li><a href="">Psycho Trainning</a></li>
										<li><a href="">Strength Trainning</a></li>
									</ul>
								</div>
							</div>
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget timing-widget">
									<h4>Working Hours</h4>
									<ul>
										<li>Monday – Friday:<span>07:00 – 21:00</span></li>
										<li>Saturday:<span>07:00 – 16:00</span></li>
										<li>Sunday Closed</li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="copyright">Copyright 2020 Theme by expertthemes</div>
			</div>
		
		</div>
	</footer>
	
	<!-- Sidebar Cart Item -->
	<div class="xs-sidebar-group info-group">
		<div class="xs-overlay xs-bg-black"></div>
		<div class="xs-sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">
						X
					</a>
				</div>
				<div class="sidebar-textwidget">
					
					<!-- Sidebar Info Content -->
					<div class="sidebar-info-contents">
						<div class="content-inner">
							<div class="logo">
								<a href="index.html"><img src="/images/logo.png" alt="" /></a>
							</div>
							<div class="content-box">
								<h2>About Us</h2>
								<p class="text">The argument in favor of using filler text goes something like this: If you use real content in the Consulting Process, anytime you reach a review point you’ll end up reviewing and negotiating the content itself and not the design.</p>
								<a href="#" class="theme-btn btn-style-two"><span class="txt">Consultation</span></a>
							</div>
							<div class="contact-info">
								<h2>Contact Info</h2>
								<ul class="list-style-one">
									<li><span class="icon fa fa-location-arrow"></span>Chicago 12, Melborne City, USA</li>
									<li><span class="icon fa fa-phone"></span>(111) 111-111-1111</li>
									<li><span class="icon fa fa-envelope"></span>Gym@gmail.com</li>
									<li><span class="icon fa fa-clock-o"></span>Week Days: 09.00 to 18.00 Sunday: Closed</li>
								</ul>
							</div>
							<!-- Social Box -->
							<ul class="social-box">
								<li class="facebook"><a href="#" class="fa fa-facebook-f"></a></li>
								<li class="twitter"><a href="#" class="fa fa-twitter"></a></li>
								<li class="linkedin"><a href="#" class="fa fa-linkedin"></a></li>
								<li class="instagram"><a href="#" class="fa fa-instagram"></a></li>
								<li class="youtube"><a href="#" class="fa fa-youtube"></a></li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- END sidebar widget item -->
	
</div>
<!--End pagewrapper-->


<!-- Search Popup -->
<div class="search-popup">
	<button class="close-search style-two"><span class="flaticon-multiply"></span></button>
	<button class="close-search"><span class="flaticon-up-arrow-1"></span></button>
	<form method="post" action="blog.html">
		<div class="form-group">
			<input type="search" name="search-field" value="" placeholder="Search Here" required="">
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	</form>
</div>
<!-- End Header Search -->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>
{% include scripts2.html %}
</body>
</html>