
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include topwrap.html %}
{% include navigation.html %}
<section class="hero-wrap hero-wrap-2" style="background-image:url(/images/xbg_1.jpg)">
<div class="overlay"></div>
<div class="container">
<div class="row no-gutters slider-text align-items-end justify-content-center">
<div class="col-md-9 mb-5 text-center">
<p class="breadcrumbs"><span class="me-2"><a href="index.html">Home <i class="fa ion-ios-arrow-round-forward"></i></a></span> <span>Classes <i class="fa ion-ios-arrow-round-forward"></i></span></p>
<h1 class="mb-0 bread">Schedules</h1>
</div>
</div>
</div>
</section>
<section class="ftco-section">
<div class="container">
<div class="row">
<div class="col-md-12" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
<div class="table-wrap">
<table class="table">
<thead class="thead-primary">
<tr>
<th>Time</th>
<th>Monday</th>
<th>Tuesday</th>
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
<th>Saturday</th>
<th>Sunday</th>
</tr>
</thead>
<tbody>
<tr>
<th scope="row" class="scope">8am-9am</th>
<td>Body Building</td>
<td>Weight Lifting</td>
<td>&nbsp;</td>
<td>Yoga</td>
<td>Aerobics</td>
<td>Cycling</td>
<td>Stretching</td>
</tr>
<tr>
<th scope="row" class="scope">10am-11am</th>
<td>Weight Lifting</td>
<td>Body Building</td>
<td>Cardio</td>
<td>Yoga</td>
<td>Aerobics</td>
<td>Cycling</td>
<td>Stretching</td>
</tr>
<tr>
<th scope="row" class="scope">1pm-2am</th>
<td>&nbsp;</td>
<td>Weight Lifting</td>
<td>Cardio</td>
<td>Yoga</td>
<td>Aerobics</td>
<td>Cycling</td>
<td>Stretching</td>
</tr>
<tr>
<th scope="row" class="scope">3pm-5pm</th>
<td>Aerobics</td>
<td>Weight Lifting</td>
<td>Cardio</td>
<td>Yoga</td>
<td>Body Building</td>
<td>&nbsp;</td>
<td>Stretching</td>
</tr>
<tr>
<th scope="row" class="scope">7pm-9pm</th>
<td>Body Building</td>
<td>Weight Lifting</td>
<td>Cardio</td>
<td>&nbsp;</td>
<td>Aerobics</td>
<td>Cycling</td>
<td>Stretching</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</section>
<section class="ftco-section ftco-no-pt">
<div class="container-fluid">
<div class="row justify-content-center pb-5">
<div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
<span class="subheading">Our Pricing</span>
<h2 class="mb-3">Pricing &amp; <span>Packages</span></h2>
</div>
</div>
<div class="row">
<div class="col-md-6 col-lg-3" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="100">
<div class="block-7">
<div class="text-center">
<span class="excerpt d-block">Basic Plan</span>
<span class="price"><sup>$</sup> <span class="number">49</span></span>
<ul class="pricing-text mb-3">
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Personal Trainer</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Convienient Time</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Special Class</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Group Traning</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Free Fitness Traning</li>
</ul>
<a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200">
<div class="block-7">
<div class="text-center">
<span class="excerpt d-block">Beginner Plan</span>
<span class="price"><sup>$</sup> <span class="number">79</span></span>
<ul class="pricing-text mb-3">
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Personal Trainer</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Convienient Time</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Special Class</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Group Traning</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Free Fitness Traning</li>
</ul>
<a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="300">
<div class="block-7">
<div class="text-center">
<span class="excerpt d-block">Premium Plan</span>
<span class="price"><sup>$</sup> <span class="number">109</span></span>
<ul class="pricing-text mb-3">
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Personal Trainer</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Convienient Time</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Special Class</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Group Traning</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Free Fitness Traning</li>
</ul>
<a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="400">
<div class="block-7">
<div class="text-center">
<span class="excerpt d-block">Ultimate Plan</span>
<span class="price"><sup>$</sup> <span class="number">149</span></span>
<ul class="pricing-text mb-3">
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Personal Trainer</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Convienient Time</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Special Class</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Group Traning</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Free Fitness Traning</li>
</ul>
<a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
</div>
</div>
</div>
</div>
</div>
</section>
{% include footer2.html %}
{% include scripts.html %}

</body>
</html> 