
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include topwrap.html %}
{% include navigation.html %}
<section class="hero-wrap hero-wrap-2" style="background-image:url(images/xbg_1.jpg.pagespeed.ic.nbLQLxtGBs.webp)">
<div class="overlay"></div>
<div class="container">
<div class="row no-gutters slider-text align-items-end justify-content-center">
<div class="col-md-9 mb-5 text-center">
<p class="breadcrumbs"><span class="me-2"><a href="index.html">Home <i class="fa ion-ios-arrow-round-forward"></i></a></span> <span>Classes <i class="fa ion-ios-arrow-round-forward"></i></span></p>
<h1 class="mb-0 bread">Schedules</h1>
</div>
</div>
</div>
</section>
<section class="ftco-section">
<div class="container">
<div class="row">
<div class="col-md-12" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
<div class="table-wrap">
<table class="table">
<thead class="thead-primary">
<tr>
<th>Time</th>
<th>Monday</th>
<th>Tuesday</th>
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
<th>Saturday</th>
<th>Sunday</th>
</tr>
</thead>
<tbody>
<tr>
<th scope="row" class="scope">8am-9am</th>
<td>Body Building</td>
<td>Weight Lifting</td>
<td>&nbsp;</td>
<td>Yoga</td>
<td>Aerobics</td>
<td>Cycling</td>
<td>Stretching</td>
</tr>
<tr>
<th scope="row" class="scope">10am-11am</th>
<td>Weight Lifting</td>
<td>Body Building</td>
<td>Cardio</td>
<td>Yoga</td>
<td>Aerobics</td>
<td>Cycling</td>
<td>Stretching</td>
</tr>
<tr>
<th scope="row" class="scope">1pm-2am</th>
<td>&nbsp;</td>
<td>Weight Lifting</td>
<td>Cardio</td>
<td>Yoga</td>
<td>Aerobics</td>
<td>Cycling</td>
<td>Stretching</td>
</tr>
<tr>
<th scope="row" class="scope">3pm-5pm</th>
<td>Aerobics</td>
<td>Weight Lifting</td>
<td>Cardio</td>
<td>Yoga</td>
<td>Body Building</td>
<td>&nbsp;</td>
<td>Stretching</td>
</tr>
<tr>
<th scope="row" class="scope">7pm-9pm</th>
<td>Body Building</td>
<td>Weight Lifting</td>
<td>Cardio</td>
<td>&nbsp;</td>
<td>Aerobics</td>
<td>Cycling</td>
<td>Stretching</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</section>
<section class="ftco-section ftco-no-pt">
<div class="container-fluid">
<div class="row justify-content-center pb-5">
<div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
<span class="subheading">Our Pricing</span>
<h2 class="mb-3">Pricing &amp; <span>Packages</span></h2>
</div>
</div>
<div class="row">
<div class="col-md-6 col-lg-3" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="100">
<div class="block-7">
<div class="text-center">
<span class="excerpt d-block">Basic Plan</span>
<span class="price"><sup>$</sup> <span class="number">49</span></span>
<ul class="pricing-text mb-3">
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Personal Trainer</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Convienient Time</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Special Class</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Group Traning</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Free Fitness Traning</li>
</ul>
<a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200">
<div class="block-7">
<div class="text-center">
<span class="excerpt d-block">Beginner Plan</span>
<span class="price"><sup>$</sup> <span class="number">79</span></span>
<ul class="pricing-text mb-3">
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Personal Trainer</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Convienient Time</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Special Class</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Group Traning</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Free Fitness Traning</li>
</ul>
<a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="300">
<div class="block-7">
<div class="text-center">
<span class="excerpt d-block">Premium Plan</span>
<span class="price"><sup>$</sup> <span class="number">109</span></span>
<ul class="pricing-text mb-3">
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Personal Trainer</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Convienient Time</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Special Class</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Group Traning</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Free Fitness Traning</li>
</ul>
<a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="400">
<div class="block-7">
<div class="text-center">
<span class="excerpt d-block">Ultimate Plan</span>
<span class="price"><sup>$</sup> <span class="number">149</span></span>
<ul class="pricing-text mb-3">
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Personal Trainer</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Convienient Time</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Special Class</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Group Traning</li>
<li><span class="fa ion-ios-arrow-round-forward me-2"></span>Free Fitness Traning</li>
</ul>
<a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
</div>
</div>
</div>
</div>
</div>
</section>
<footer class="ftco-footer">
<div class="container-xl">
<div class="row mb-5 pb-5 justify-content-between">
<div class="col-md-6 col-lg">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2 logo d-flex">
<a class="navbar-brand d-flex align-items-center" href="index.html">
<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon flaticon-weight"></span></div>
<span class="">Dazko <small>Crossfit &amp; Fitness</small></span>
</a>
</h2>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
<ul class="ftco-footer-social list-unstyled mt-2">
<li><a href="#"><span class="fa fa-twitter"></span></a></li>
<li><a href="#"><span class="fa fa-facebook"></span></a></li>
<li><a href="#"><span class="fa fa-instagram"></span></a></li>
</ul>
</div>
</div>
<div class="col-md-6 col-lg-2">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Explore</h2>
<ul class="list-unstyled">
<li><a href="#"><span class="fa ion-ios-arrow-round-forward me-3"></span>About Us</a></li>
<li><a href="#"><span class="fa ion-ios-arrow-round-forward me-3"></span>Trainers Team</a></li>
<li><a href="#"><span class="fa ion-ios-arrow-round-forward me-3"></span>Awesome Classes</a></li>
<li><a href="#"><span class="fa ion-ios-arrow-round-forward me-3"></span>Pricing Packages</a></li>
<li><a href="#"><span class="fa ion-ios-arrow-round-forward me-3"></span>Latest News</a></li>
</ul>
</div>
</div>
<div class="col-md-6 col-lg-2">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Our Contacts</h2>
<div class="block-23 mb-3">
<ul>
<li><span class="icon fa fa-map marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
<li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+2 392 3929 210</span></a></li>
<li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text"><span class="__cf_email__" data-cfemail="e78e898188a79e88929583888a868e89c984888a">[email&#160;protected]</span></span></a></li>
</ul>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4">
<div class="ftco-footer-widget mb-4">
<div class="row g-sm-2">
<div class="col-sm-3 col-md-3 col-lg-3">
<a href="#" class="img gallery" style="background-image:url(images/xgallery-1.jpg.pagespeed.ic.Mqj2-r63uR.webp)"></a>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">
<a href="#" class="img gallery" style="background-image:url(images/xgallery-2.jpg.pagespeed.ic.Yd4EL0e4yg.webp)"></a>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">
<a href="#" class="img gallery" style="background-image:url(images/xgallery-3.jpg.pagespeed.ic._lBuzZ2F-y.webp)"></a>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">
<a href="#" class="img gallery" style="background-image:url(images/xgallery-4.jpg.pagespeed.ic.a6pF53o709.webp)"></a>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">
<a href="#" class="img gallery" style="background-image:url(images/xgallery-5.jpg.pagespeed.ic.-g2nowjN3Q.webp)"></a>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">
<a href="#" class="img gallery" style="background-image:url(images/xgallery-6.jpg.pagespeed.ic.o0Su8dBL1d.webp)"></a>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">
<a href="#" class="img gallery" style="background-image:url(images/xgallery-7.jpg.pagespeed.ic.0YJ_LK9Bij.webp)"></a>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">
<a href="#" class="img gallery" style="background-image:url(images/xgallery-8.jpg.pagespeed.ic.NN4zWHUzZo.webp)"></a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container-fluid px-0 py-5 bg-darken">
<div class="container-xl">
<div class="row">
<div class="col-md-12 text-center">
<p class="mb-0" style="color: rgba(255,255,255,.5); font-size: 13px;">
Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" rel="nofollow noopener">Colorlib</a>
</div>
</div>
</div>
</div>
</footer>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/glightbox.min.js+rellax.min.js+aos.js+google-map.js+main.js.pagespeed.jc.VTWTOwZLtF.js"></script><script>eval(mod_pagespeed_sRKC2fTOBZ);</script>
<script>eval(mod_pagespeed_ALqs44O0rl);</script>
<script>eval(mod_pagespeed_9QvK9vrP6z);</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script>eval(mod_pagespeed_$odz5C641i);</script>
<script>eval(mod_pagespeed_4FuK4ufTrq);</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"7342d93fb82a88aa","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.6.0","si":100}' crossorigin="anonymous"></script>
</body>
</html> 